[2013-05-10 09:22] pawe opened #1 "Do you already have an open source license in mind?"
Or would you allow me to use your code in an app? Cause i like your implementation!

regards, paul

[2013-05-10 09:36] #1 closed, assigned to nobody

[2013-07-08 08:19] mvhecke opened #4 "Duplicate quote"
Commit ce2889fe9624c23c79de9ca7d7970906429989fb contains a duplicate quote on line 10:

[code]

[2013-07-08 08:22] #4 closed, assigned to nobody

[2013-07-23 13:45] julien51 opened #5 "Gracefuly failing when adblock prevents the JS file from being loaded?"
Hi!
It looks like Adblock does not like this angular module.
and angular will completely fail if we can't load it :/ That's not good. Any way to solve this.

[2013-07-24 16:21] robjames opened #6 "Update to new Analytics code"
Hi,

I guess at some point you will need to update this to use the new analytics code.

Not an issue as such, just a heads up!

[2013-08-04 12:06] mvhecke opened #7 "Deprecated component.json"
They will eventually drop support in Bower, so a rename to bower.json is recommended.

[2013-08-07 22:58] #7 closed, assigned to nobody

[2013-09-02 14:33] alexhanh opened #9 "Duplicate initial pageview event"
As you rely on the onChangeSuccess (https://github.com/revolunet/angular-google-analytics/blob/master/src/angular-google-analytics.js#L125) for automatic pagetracking, I'd imagine you also suffer from the double event on the initial pageload as described here https://github.com/luisfarzati/angulartics/issues/31#issuecomment-23609410

[2013-09-10 06:14] snikch opened #10 "Add git tag 0.0.1 for Bower"
I believe bower uses git tags to get the appropriate version of a package. You've defined the version as `0.0.1` in your `bower.json`, but there needs to be a git tag too.

[code]

This should do it.

[code]

[2013-11-16 00:03] #6 closed, assigned to revolunet

[2014-01-05 15:31] bkuhl opened #13 "Readme.md typo"
On the front page in the last configuration block example it shows:

[code]

The second method I believe should be `useEnhancedLinkAttribution`

[2014-01-05 15:36] #13 closed, assigned to nobody

[2014-01-05 17:14] bkuhl opened #14 "Confusing comment"
I'm a bit confused as to the description for this method:

[code]

It seems as though the useAnalytics() option would be toggling some setting, but the description is a bit confusing.  Is that description a mistake?

[2014-01-05 17:36] #14 closed, assigned to nobody

[2014-01-22 20:21] #5 closed, assigned to revolunet

[2014-02-22 14:12] vbauer opened #16 "Problem with Chrome extension "Google Analytics Opt-out Add-on (by Google)""
Hello, Julien!

We faced in our project with some strange problem:
When users begin to use plugin "Google Analytics Opt-out Add-on (by Google)" (https://chrome.google.com/webstore/detail/google-analytics-opt-out/fllaojicojecljbmefodhfapmkghcbnh) in Google Chrome, our application breaks.

[code]

(lib.js is a concatenated version of all JS libraries)

Another strange moment, that in output HTML fil

[2014-02-22 21:16] LongLiveCHIEF opened #17 "README.md shows invalid javascript code"
This is not valid js:

[code]

However, this is:

[code]

[2014-02-22 22:21] #17 closed, assigned to nobody

[2014-02-22 22:24] #10 closed, assigned to nobody

[2014-02-22 22:28] #9 closed, assigned to nobody

[2014-02-25 16:42] #16 closed, assigned to nobody

[2014-03-25 15:49] joaocc opened #18 "Support for Google "Universal Analytics""
Hi,
Can you please clarify if this supports the new "Universal Analytics" or only the "Classical Analytics"?
Thanks

[2014-03-28 08:41] ghost opened #20 "Not possibly to set currency with analytics.js"
Hi!

I'm using this for a project, where the currency is in DKK (Danish Kroner). I looked at the source, and found that the _addTrans-method takes a currency parameter, which defaults to "USD". However, the public addTrans-method doesn't take a currency-parameter, so it's not possible to override the default 'USD' currency.

Other than that, thanks for an awesome script :-)

/ Lars

[2014-03-29 15:45] #20 closed, assigned to nobody

[2014-04-18 14:09] peetersn opened #24 "Offline capabilities?"
Would it be possible to implement a module so that you can generate all the metrics offline and then "push" the data to Google Analytics when being online?

[2014-06-05 07:46] asgeo1 opened #27 "0.0.2 is broken"
Can you please tag a new version?

0.0.2 causes a problem if you're using `grunt-bower-install` because it looks at the `main` file in `bower.json` - which for 0.0.2 is referencing a non-existing file (**_./dist/angular-google-analytics.min.js**_)

[2014-06-05 08:05] #27 closed, assigned to nobody

[2014-07-22 19:52] kyleBeikirch opened #28 "Support for custom variables/dimensions?"
Is there and will there be support for custom variables/dimensions ?

https://developers.google.com/analytics/devguides/collection/upgrade/reference/gajs-analyticsjs#custom-vars

[2014-07-22 20:20] #18 closed, assigned to nobody

[2014-08-15 10:58] baki250 opened #30 "Support Cross/Multiple Domains and Subdomains"
Hi,

Can you add https://developers.google.com/analytics/devguides/collection/analyticsjs/cross-domain
to the GA.

So we can track multiple domains and subdomains.

Thanks

[2014-08-17 14:11] reyazucar opened #31 "Support for hybrid mobile app"
Hi,
could you expose the property checkProtocolTask in order to add support for hybrid mobile apps?
ga(‘set’, ‘checkProtocolTask’, null);
For hybrid mobile app is required disable the check protocol task, in order to suppor file:// protocol

In this post (http://www.blastam.com/blog/index.php/2013/07/ga-universal-analytics-phonegap-mobile-apps) you can see in more detail about this

thanks & regar

[2014-08-19 09:39] baki250 opened #32 "utm params not triggered on url params"
utm params are not being passed down to Google:

?utm_medium=Email&utm_source=Bla&utm_campaign=BlaCamp

Thanks

[2014-08-28 06:57] Omranic opened #35 "Correct setup or not?"
I'm using AngularJS UI Router, and here it is my config:

[code]

Now is there any other steps to complete? I haven't modified any states/controllers, is there anything else required? And what does the following comment means? I guess enabling 'trackPages' is enough, am I right?

[code]

[code]

[2014-08-28 11:23] #35 closed, assigned to nobody

[2014-09-02 12:04] binarykitchen opened #36 "Publish it to npm as well ..."
... so that I can include it via browserify instead of bower.

Thanks!

[2014-09-03 08:30] #36 closed, assigned to nobody

[2014-09-03 10:14] binarykitchen opened #37 "Allow chaining to save some bytes"
Instead of

[code]

let's save some bytes with that:

[code]

by returning the AnalyticsProvider instance on each of these configuration methods.

[2014-09-04 18:35] pmgtech opened #38 "Add git tag 0.0.5 for Bower"
https://github.com/revolunet/angular-google-analytics/issues/10

bower install
bower angular-google-analytics#~0.0.5       not-cached git://github.com/revolunet/angular-google-analytics.git#~0.0.5
bower angular-google-analytics#~0.0.5          resolve git://github.com/revolunet/angular-google-analytics.git#~0.0.5
bower angular-google-analytics#~0.0.5     ENORESTARGET No tag found that was able to

[2014-09-10 03:34] binarykitchen opened #39 "Status: Receiving Data (always)"
Seems GA is not receiving my data. In my module I have this pseudo code

[code]

Maybe you spot something I am doing wrong here or it could be a bug?

[2014-09-15 07:44] er1ck opened #41 "Support for display features plugin"
Would it be possible to get support for displaying features? I looked through the code and documentation but did not find anything related to that. Google's Developer guide about the plugin: https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features

[2014-09-16 07:06] #41 closed, assigned to nobody

[2014-10-02 11:44] baki250 opened #42 "High Bounce Rate on GA"
Hi,

Im getting very high bounce rate on our Google GA. Have you guys experienced anything like this?

Here is my setting:

[code]

Thanks

[2014-10-07 10:42] marsanla opened #43 "please update bower and dist files"

[2014-10-07 11:10] #43 closed, assigned to nobody

[2014-10-07 11:11] #38 closed, assigned to nobody

[2014-10-07 11:12] #30 closed, assigned to nobody

[2014-10-09 15:26] skyout opened #44 "setDomainName location causes reporting issues"
In our AngularJS application we have noticed an issue where tracking conversions and pages aren't working when we're setting a domain name to `.grasshopper.com`

[code]

In a forked version if we moved the line `if(domainName) $window._gaq.push(['_setDomainName', domainName]);` right below `window._gaq.push(['_setAccount', accountId]);` then tracking conversions and pages works perfectly.

[2014-10-14 20:21] #44 closed, assigned to nobody

[2014-11-07 12:12] justinsa opened #48 "trackPage call doesn't work when AnalyticsProvider.trackPages(false) is configured"
The Analytics.trackPage('url') call does not log anything when the AnalyticsProvider has been configured with AnalyticsProvider.trackPages(false). By the documentation, trackPages(false) is only supposed to disable **automatic** page tracking, but instead it actually disables the ability to make any page tracking call since it sets the trackRoutes variable to false.

It doesn't make sense that pag

[2014-11-08 14:45] #48 closed, assigned to nobody

[2014-11-08 15:37] #42 closed, assigned to nobody

[2014-11-12 04:26] zaggino opened #50 "Multiple accountIds and crossDomainLinker"
From this code I can see that it's not possible to use an array of `accountId`s and `crossDomainLinker` at the same time. Is there a reason for that? I'm not very familiar with `analytics.js` and I haven't seen a mention of this anywhere in the docs.

Src:
https://github.com/revolunet/angular-google-analytics/blob/3055c1a1724f6037960a3c2143345609cf8345a0/src/angular-google-analytics.js#L174-L186

[2014-12-11 20:52] flumonion opened #52 "Event tracking with Multiple accounts"
Is there a reason you only track page views for multiple accounts, why not events and others?

e.g. line 316 would become:
[code]

[2015-02-07 08:02] bhebb opened #54 "social analytics?"
Hi,
how integrate social analytics with your module? facebook, G+ login, sign up? facebook share? or  social interactions will be automatically reported?

regards
Stevens

[2015-02-08 22:44] revolunet commented on #54
This module focus on google analytics only so you have to trigger GA tracks for every single action you want to track, social or not :)

[2015-02-08 22:44] #54 closed

[2015-02-26 14:36] IdoHakimi opened #57 "Wrong _send syntax"
at function _send you send an obj even though send cant receive an object. You use it on the advance e commerce functions such as _producrClick, _promoClick and _trackCart. Another problem is that you dont send the whole object but rather only the first variable.

[2015-02-27 14:21] tsov opened #58 "Add helper directives for simpler use"
A good idea might be to provide some helper directives to simplify the use even more.

e.g.
[code]

where button.ga might look something like `{category: 'video', action: 'play', label: 'video.mp4'}` or maybe even `['video', 'play', 'video.mp4']`. Meaning you don't even need to write code in your controllers for some simple actions.

Working on a sample working version on `tsov/angular-google-anal

[2015-02-27 15:05] tsov commented on #58
https://github.com/revolunet/angular-google-analytics/pull/59

[2015-03-09 12:22] petermetz commented on #31
I haven't tried this, but it seems like it could work:
Inject the Analytics service in your ```run``` block and call

    Analytics.set('checkProtocolTask', null);

It might be too late to do this kind of configuration in the run block in your case.

[2015-03-17 16:19] deltaepsilon commented on #58
Done.

[2015-03-17 16:19] #58 closed

[2015-03-22 10:54] #57 closed

[2015-03-24 12:08] jonespen opened #64 "ga-track-event directive should have optional "if" statement"
Something like [angulartics](https://github.com/luisfarzati/angulartics#declarative-tracking), very handy.

[2015-04-06 10:16] IdoHakimi opened #65 "Adding Custom Dimensions and Metrics"
In the current implementation it is not possible to add custom Dimensions and Metrics in products.
For Example:
ga('ec:addProduct', {               // Provide product details in an productFieldObject.
  'id': 'P12345',                   // Product ID (string).
  'name': 'Powerup',                // Product name (string).
  'category': 'Extras',             // Product category (string).
  'variant'

[2015-04-06 11:08] IdoHakimi commented on #37
+2 :)

[2015-04-06 11:08] IdoHakimi commented on #28
see: https://github.com/revolunet/angular-google-analytics/issues/65

[2015-04-19 03:56] egeland opened #66 "Feature request: Expanded experiments support"
Hi,

As a companion to Analytics, I am using `angular-google-experiments` to set up experiment variations - and was wondering if you could incorporate this functionality into the Analytics module for simplicity?
Would be good to have it all in one place..
The fork at https://github.com/eaguerralde/angular-google-experiments/blob/master/googleExperiments.js seems to have simplified the loading of t

[2015-04-19 14:07] revolunet commented on #66
Hey :)
Are you sure this is the lib you use ? you mention http://luisfarzati.github.io/angulartics in your README but its another beast.

[2015-04-19 23:07] egeland commented on #66
Yes, I know that that `experiments` module mentions `angulartics`, but I use your module for Analytics, as it is more focused on GA. :)

[2015-04-23 22:34] charwking commented on #36
It looks like there hasn't been an npm release since version 0.0.5. I'd love to use the new `trackUrlParams` feature. Any plans to continue publishing to npm?

Thanks!

[2015-04-27 08:59] revolunet commented on #36
just published npm update. hope its ok. thanks

[2015-04-27 11:30] binarykitchen commented on #36
hmmm, it's breaking my app - why do you have bower in your scripts?

[code]

Please remove this. Or figure out something else.

[2015-04-27 13:52] revolunet commented on #36
removed

[2015-04-27 21:26] binarykitchen commented on #36
good - please npm publish that again

[2015-05-18 05:01] armyofda12mnkeys opened #67 "possible to start new session via sessionControl?"
Just curious GA has the ability to start a new session manually via the sessionControl option:

https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#sessionControl

[code]

How can this option be used in angular-google-analytics?
Not sure if there is a way to pass options like that to pageView manually [think i only saw example of dimension and metric data being

[2015-05-19 09:34] nanocom opened #68 "Use analytics.js by default"
It took me some time to understand that I had to call AnalyticsProvider.useAnalytics(true) to make it work. I think it would be easier if analytics was used by default.

[2015-05-19 14:42] revolunet commented on #67
Looks like this is possible : https://github.com/revolunet/angular-google-analytics/blob/master/src/angular-google-analytics.js#L346

did you try something like this ?
[code]

[2015-05-20 16:08] khashayar commented on #64
What's the problem with using ng-if?

[2015-05-21 04:34] armyofda12mnkeys commented on #67
that looks like its working, i do see sessionControl shortened to 'sc' and passed along to ga.
A side-note question... I thought that 3rd param was for 'Dimensions' since thats the main example I see on the page:
 Analytics.trackPage('/video/detail/XXX', 'Video XXX', {dimension15: 'My Custom Dimension', metric18: 8000});

Yet if i combine a dimension of mine with sessionControl in that object, I d

[2015-05-21 12:51] jonespen commented on #64
That would hide the whole element if falsy, this is for conditional event tracking. I can submit a pull request.

[2015-05-28 19:54] armyofda12mnkeys commented on #28
Should this be closed? i see supposed support for this based on the functions seen in the documentation below:
[code]

However the set() nor the custom trackPage() funcs don't work for me.
Can anyone confirm if custom dimensions actually are added?

[2015-06-04 03:41] armyofda12mnkeys commented on #67
I figured out Dimensions work :). I was passing the actual dimension names like 'questionnaire_name' when it should be something like 'dimension1' (whatever the # is in the GA Dimensions Admin screen)

[2015-06-04 03:41] #67 closed

[2015-06-04 03:42] armyofda12mnkeys commented on #28
trackPage works actually. I figured out i was sending the dimension name in that object and not the 'dimension#'. Maybe this ticket can be closed?

[2015-06-04 15:18] stramel commented on #28
@kyleBeikirch @revolunet Am I missing something? As the documentation (and @armyofda12mnkeys) states:

[code]

I am using this method to set the custom dimensions in my application without any issues. I have also used the alternate method of:

[code]

Please elaborate on the issue.

[2015-06-05 20:03] sonicparke opened #71 "Dynamically set the UA Account as the route changes?"
I'm using ui-router and need to change the UA account based on the route. Is there a mechanism to do this currently?

[2015-06-08 17:09] stramel opened #72 "Extraneous page views?"
Is this tracking duplicate pageviews when setting checkout steps?

https://github.com/revolunet/angular-google-analytics/blob/master/src/angular-google-analytics.js#L710

I don't see anything at a glance that would state there should be a page view here, https://developers.google.com/analytics/devguides/collection/analyticsjs/enhanced-ecommerce#measuring-checkout

Shouldn't it be caught when the p

[2015-06-16 13:04] gavinrng opened #73 "Is it possible to set userId?"
Hi,

Is it currently possible to set the userId as per: https://developers.google.com/analytics/devguides/collection/analyticsjs/user-id

So basically replacing the scrip tag with on that sends a userId as well?

Thanks!

[2015-06-18 20:37] stramel commented on #72
@revolunet Bump, this is pretty important. I have no problem adding a PR for this but I just wanted to see what the reasoning behind adding the pageView track is.

[2015-06-18 23:28] revolunet commented on #72
Looks like @justinsa added this line and i dont personally use that feature.

Justin, could you please confirm if that additional pageView is necessary or not ?

thanks

[2015-06-19 00:16] justinsa commented on #72
That came in by @kunalkukreja in https://github.com/revolunet/angular-google-analytics/commit/841438a94fc5c1963377529d4dfea28ab89d8f2f.

The pageView call is in trackTransaction, trackRefund, and trackCheckout. I would assume they should be removed from those locations and tracking the page view should be happening separately if it needs to be called.

[2015-06-19 00:48] revolunet commented on #72
agree. can @kunalkukreja confirm and make the change please ?

[2015-06-19 14:18] stramel commented on #72
@revolunet @justinsa @kunalkukreja I went ahead and created a PR that removed the pageView calls pending @kunalkukreja's comment

[2015-06-19 15:15] revolunet commented on #72
very cool thank you !

[2015-06-19 15:15] #72 closed

[2015-06-19 18:09] stramel commented on #73
Yes,

[code]

[2015-06-19 18:09] stramel commented on #68
:+1:

[2015-06-19 18:15] stramel commented on #65
Maybe this could do something like the `trackPage` where the custom options can be passed as an object?

[2015-06-22 17:05] kunalkukreja commented on #72
@stramel, @revolunet, @justinsa

First apology for late reply
Since transaction/checkout/refund are important events, I intentionally added these extra page view request to handle cases when user exit after these steps without visiting any other page.

Lets take a very standard use case: Suppose a user exits on Order Detail Page(successful transaction page), the track transaction call will buffer

[2015-06-22 18:19] stramel commented on #72
@kunalkukreja

In your use case, aren't you adding additional pageviews? Wouldn't using the `{ transport: 'beacon' }` option be a better way to handle that? I realize that would not work for older browsers.

[2015-06-23 13:36] ArnieDude opened #76 "Routing redirect causes double pageview when initially loading angular application"
This happens when the application is approached without a known path in the routing configuration and trackRoutes in enabled. So any redirects due to the use of the otherwise function of angular routing result in an extra $routeChangeSuccess, which is picked up and results in another pageview to ga.

Is this known, or is there something I might be missing in relation to the routing of angular, or

[2015-06-24 08:48] rbosneag commented on #76
We had the same problem in a project, initially being very happy with lots of pageviews compared to similar periods in the past :). After reading the source code and looking for better ways to handle redirection we came up with this solution:

Instead of having `AnalyticsProvider.trackPages(true);`which records every state change including the redirects, we tracked the pages manually like this:
[c

[2015-06-24 13:49] stramel commented on #76
@ArnieDude @rbosneag Could you not just do the following configuration options?

[code]

[2015-06-24 14:17] ArnieDude commented on #76
Thats what I thought, but this only prevents the pageview fired when analytics adds the google analytics tag.
TrackPages always sends a pageView to google analytics, regardless of when this happens, since it simply adds a listener to the $routeChangeSuccess event and triggers a pageView.

[2015-06-24 19:56] armyofda12mnkeys opened #77 "seem to work for older Android devices (w/ the older Android Internet/Browser vs newer Chrome)"
I am seeing 3.3% of our traffic not show up in GA anymore... I noticed between our old app which uses old Universal Analytics and new Angular app which uses Universal Analytics (via angular-google-analytics) that the new data is missing the 'Android Browser' browser which was about 3.3% of traffic.
Both apps have the Browser 'Chrome' which has Browser Versions like 43.0.2357.124 which could be mob

[2015-07-08 11:42] jonespen opened #79 "Add commonjs support"
For browserify/webpack/es6 support: http://blog.npmjs.org/post/114584444410/using-angulars-new-improved-browserify-support

[2015-07-09 08:31] #79 closed

[2015-07-21 11:03] Karpo72 opened #80 "Does E-commerce work properly?"
First I tried to set up E-Commerce like in the example on Github (usinig UniversalAnalytics).
I use multiple tracker -> two different Analytics ID's.

AnalyticsProvider.useECommerce(true, true);
This causes an warning:
Enhanced ecommerce plugin is enabled. Only one plugin(ecommerce/ec) can be used at a time.

After that I tried to set it up like this to try:
AnalyticsProvider.useECommerce(false, t

[2015-07-22 17:33] justinsa commented on #80
I am going to look into this and see what needs to be fixed.

[2015-07-27 11:37] wytrych opened #82 "`setRemoveRegExp` not documented"
I was looking for a way to remove some strings from the url and in the code found `setRemoveRegExp` which does exactly that, but is not documented in examples.

[2015-07-29 06:40] jonespen opened #83 "npm version is still 0.0.15"
https://www.npmjs.com/package/angular-google-analytics

Could you publish 0.0.17? Thanks!

[2015-07-29 21:46] revolunet commented on #83
sorry, done

[2015-07-29 21:46] #83 closed

[2015-07-29 21:47] #80 closed

[2015-07-29 21:47] #82 closed

[2015-07-30 07:21] Karpo72 commented on #80
thanks a lot ;-)

[2015-07-30 07:25] Karpo72 commented on #80
bower ENORESTARGET  No tag found that was able to satisfy 0.0.18  ;-)

[2015-07-30 07:37] revolunet commented on #80
github tag just released for bower in addition to the NPM release

[2015-07-30 08:17] wytrych commented on #82
Great stuff thanks!

[2015-08-03 11:47] Karpo72 commented on #80
Might it be that there are still problems on e-commerce using multiple trackers? I took a look into the code, but I couldn't see how multiple trackers are implemented or is the function called multiplke times? I still don't receive e-commerce data

[code]
[code]

[2015-08-04 08:47] Jay031 commented on #80
I also have trouble with the E-commerce, with single ánd multiple accounts.
When I add a product, checkout or transaction I don't get anything in Analytics.
The only thing that see is a click on "add to cart" in category "UX"

[2015-08-04 19:02] justinsa commented on #80
I don't think the e-Commerce parts are designed to work with multiple accounts. They are pushing commands directly to the primary queue and not specifying any account token. This seems like an area that needs work then. In my previous verification I was verifying that the commands are being pushed to the appropriate queues when the methods are called, not that those are the correct commands to be

[2015-08-25 19:36] czieler opened #89 "Issues with minification"
Does anyone else have issues with using these files when minifying all angular files?  I keep getting unknown provider error.  I tried patching up just the provider to have brackets which looked like the obvious fix, but that doesn't seem to fix the issue.

[2015-08-27 07:27] Karpo72 opened #90 "E-commerce does not work at all - and no support for multiple trackers"
I noticed during my tests, that ecommerce data will not be send at all.

that._ecommerceEnabled() -> returns true for example on line 578
But it returns false on line 475 -> my guess is somthing with the scope is wrong.

Multiple trackers seems not to be supportet at all.

[2015-08-27 07:29] Karpo72 opened #91 "custom dimensions are not working at all"
Well I don’t receive any custom dimensions. The documentation from google tells me, that dimensions have to be send within a tacked pageView or to be set before the pageView is tracked. My guess ist hat the pageView gets send before the dimensions are set.

I see the commands for the dimens send to the _ga functions, but within chrome debugging I don't see them within the page view tracking. No re

[2015-08-27 07:46] justinsa commented on #90
Lets dig into this a bit to figure out what is expected. I notice a few things that we need to clarify to ensure we are both on the same page.

1. The recent changes that got released as version 1.0.0 do not include any changes to the ```ec``` commands to have those support multiple trackers. The changes only affected existing commands (```send``` and ```event```). It should be trivial to add mult

[2015-08-27 08:17] justinsa commented on #50
@zaggino It is possible to define crossDomainLinker for multiple accounts but the definitions need to be set as part of each account object. With the latest update the documentation should provide an example of this value being provided.

[2015-08-27 08:17] #50 closed

[2015-08-27 08:19] justinsa commented on #52
@flumonion - page views and events support multiple trackers but the ecommerce and enhanced ecommerce commands do not yet support multiple trackers.

[2015-08-27 08:19] #52 closed

[2015-08-27 08:42] Karpo72 commented on #90
Sorry it were the line number of the dist file. in the src the line are 466 within _addTrans function. Can you explain why the function returns ecommerce && !enhancedEcommerce? That would mean you can only enable one feauture?

[2015-08-27 08:53] Karpo72 commented on #90
Regarding multi tracker: Is it not possible to sole that within the final function which sends the command? My initial idea was to keep a array of commands that support multi tracker and then decide on a final _ga function if needed to send to multiple trackers

[2015-08-27 09:01] justinsa commented on #90
This is a behavior governed by GA. The Ecommerce Tracking documentation is explicit about ecommerce.js not being used simultaneously with ec.js. The exact statement is:

[code]

In the case of this library, the first value to setEcommerce dictates whether any form of e-commerce tracking should be loaded and the second value indicates whether that should be enhanced e-commerce. This is notoriously

[2015-08-27 09:15] justinsa commented on #90
Regarding this comment:

[code]

Once I got into implementing it using the method proposed it became clear this was going to create a more haphazard solution for future development because the knowledge about how a command works is spread between two disparate locations in the file. All of the logic that impacts a single command should be clearly present and readable in one contiguous block. The a

[2015-08-27 09:48] Karpo72 commented on #90
Ok, regarding enhanced e-commerce and e-commerce I think the "how to" configure this module is missleading

        // Enabled eCommerce module for analytics.js (uses legacy ecommerce plugin)
        AnalyticsProvider.useECommerce(true, false);

        // Enabled enhanced eCommerce module for analytics.js (uses ec plugin instead of ecommerce plugin)
        // When enabled, legacy ecommerce plugi

[2015-08-27 09:58] Karpo72 commented on #90
Regarding multi tracker: I'm not firm with the whole history of this project, but if the events implementing the send Command already works I don't see a big risk to implement it for e-commerce too. At the end there are only three command to implement -> addTrans, addItem, commitTrans. They are working in the same way like the events except the parameters.

[2015-08-28 05:25] justinsa commented on #90
Regarding Enhanced Ecommerce vs Ecommerce, do you have any recommendation around what would make this more clear from the perspective of the configuration function: ```useECommerce(bool, bool)```. Multiple people have run into this usability issue and it would be convenient. One change I was thinking might help is to redefine the function inputs (with backwards compatibility). For instance, instea

[2015-08-28 07:00] binarykitchen opened #93 "Changelog for v1?"
Are there any breaking changes??

[2015-08-29 07:28] justinsa commented on #93
There are no breaking changes in v1, Everything changed was structural and not behavioral from the perspective of a user.

[2015-08-29 07:29] #93 closed

[2015-08-29 10:42] binarykitchen commented on #93
understand but according to the semver philosophy it should be a breaking change, causing a major version bump.

[2015-08-29 14:34] revolunet commented on #93
i published 1.0.0 because semver makes nosense if < 1.0.0 :

[2015-08-29 15:26] #73 closed

[2015-08-29 15:57] #90 closed

[2015-08-30 03:29] binarykitchen commented on #93
true that, all good then

[2015-08-31 08:07] justinsa commented on #64
Closing as issue is resolved.

[2015-08-31 08:07] #64 closed

[2015-08-31 08:11] justinsa commented on #28
Closing as this has been added and confirmed working for what was originally requested.

[2015-08-31 08:11] #28 closed

[2015-08-31 08:39] justinsa commented on #89
Hey @czieler, can you explain further what you are seeing and provide a code sample? For Angular to work correctly with minification you have to use the array designation style for controller, service, and directive definitions. e.g,

[code]

[2015-08-31 08:41] justinsa commented on #91
@Karpo72 can you provide links to the documentation you read? I would appreciate that so I can make sure I am reading the same thing you are and help resolve this.

[2015-08-31 09:34] Karpo72 commented on #91
@justinsa I just went to this documentation:
https://developers.google.com/analytics/devguides/collection/analyticsjs/custom-dims-mets

[2015-08-31 11:32] #37 closed

[2015-08-31 15:58] justinsa commented on #91
There are two ways to define this using angular-google-analytics and both of those are working in the library, but clearly you must have a scenario that isn't working.

The documentation for GA says that these custom dimensions have to be defined in the GA account before they can be sent. Just double checking that you have already done that?

Also, the rules for when custom dimensions are associat

[2015-08-31 16:00] justinsa commented on #32
Closing issue as change was made.

[2015-08-31 16:00] #32 closed

[2015-08-31 16:05] justinsa commented on #39
Closing issue as stale. Assumably the OP figured out what was not working and resolved it. Please re-open or submit a new issue if that is not the case.

[2015-08-31 16:05] #39 closed

[2015-08-31 16:53] justinsa commented on #24
I am looking at implementing this using an in-memory queue, which is sufficient unless the desire is to have things persist across sessions.

[2015-09-01 06:44] Karpo72 commented on #91
@justinsa I will do another test, but I can confirm that I created the dimensions within the GA Account. I'm currently using the ga('set'...) method. Within debugger I see how the dimensions get set, but I don't see them within the GET Requests the script is executing. I set some of them on a very early state -> i.e. within the app.config. If i debug the module I can see that my dimension1 gets se

[2015-09-01 08:46] Karpo72 commented on #91
@justinsa I couldn't find any offical description on google, But I found this discussion on stackoverflow with another topic:
http://stackoverflow.com/questions/23815965/universal-analytics-custom-dimensions-with-multiple-trackers-old-tracker-recor

Do you see the code of the guy? He also uses the set command with multiple trackers. I#ll do now a test and will disable one tracker, just tos see if

[2015-09-01 08:57] Karpo72 commented on #91
@justinsa @revolunet  I figgured out the solution. The reason on my site are the multiple tracker. I use the set method. I debuggt through the set function and executed the command manually from my console -> _ga('tracker.set', name, value); -> and now see that the dimension get's submitted to GA.

Final I can confirm in my case two problems:

- Dimensions are not set in case of multiple trackers

[2015-09-01 16:38] justinsa commented on #91
That makes sense. Thanks for figuring this out. I think we should take a different tact for this method as we need its current behaviors to be maintained and set is frequently a scenario that is specific to a tracker or the generic case. It doesn't make sense to have it support multi-tracker in the same way as the other methods.

The current method looks like this:
[code]

I propose we do the foll

[2015-09-02 09:33] binarykitchen commented on #37
is this on npm yet?

[2015-09-02 10:06] revolunet commented on #37
will do now :)

[2015-09-02 10:30] binarykitchen commented on #37
good boy :)

Sent from my lazy iPad

[2015-09-02 18:58] justinsa opened #96 "Test / Build using CodeShip for repository"
@revolunet since you are the administrator of the repository you should add the free account from https://codeship.com to the repository. This can then run the tests on each PR and it can showing test run status for the PR.

I was going to set this up but I don't have admin privileges for the repository.

Also, if the production release build is automatic, then CodeShip might be able to be setup t

[2015-09-03 00:14] revolunet commented on #96
ok this is done ! thanks for this great initiative

[2015-09-03 00:15] #96 closed

[2015-09-03 08:11] jrosseel opened #97 "Unknown provider: AnalyticsProviderProvider <- AnalyticsProvider"
I get the error: Unknown provider: AnalyticsProviderProvider <- AnalyticsProvider when just including the script and injecting it into the application.

Everything is fine in app.config, I'm able to configure the service just fine. But when I enter app.run, my application breaks down and gives me this error.

Any ideas on what might cause this?

My config settings:
AnalyticsProvider.setAccount('UA

[2015-09-03 08:45] justinsa commented on #97
You should be calling it Analytics in your run block. Angular then looks for AnalyticsProvider to create the Analytics instance.

[2015-09-03 08:46] jrosseel commented on #97
I see, thx!

[2015-09-03 08:46] #97 closed

[2015-09-03 09:54] justinsa commented on #89
@czieler are you still experiencing this issue or can we close this?

[2015-09-04 04:23] justinsa opened #98 "Support user opt-out for analytics"
https://developers.google.com/analytics/devguides/collection/analyticsjs/advanced#optout

To disable tracking, set the following window property to true:

[code]

Where the value UA-XXXX-Y corresponds to the web property ID on which you would like to disable tracking.

This window property must be set before the tracking code is called. This property must be set on each page where you want to disa

[2015-09-04 04:26] justinsa opened #99 "Support advanced debugging for analytics"
https://developers.google.com/analytics/devguides/collection/analyticsjs/debugging

- [x] Analytics.js debugging snippet support
- [x] Analytics.js trace debugging configuration support

This functionality is only available for universal analytics.

[2015-09-04 08:19] Karpo72 commented on #91
@justinsa @revolunet That should work.

[2015-09-09 16:26] Karpo72 commented on #91
@justinsa Did you implement the change for the send command (multiple tracker) already?

[2015-09-09 17:05] justinsa commented on #89
Closing issue as non-reproducible.

[2015-09-09 17:05] #89 closed

[2015-09-09 17:16] justinsa commented on #91
This is in as of yesterday. It was merged in with #100, but I forgot to mark the PR with this issue. I want to get offline mode in and then create a new release. The next release is not backwards compatible, so you are aware. The documentation provides guidance and I would appreciate feedback on it for how it can be improved.

[2015-09-09 17:19] justinsa commented on #68
This is a good time to make it universal analytics by default. The next release is going to break backwards compatibility for a number of universal analytics behaviors so we might as well go all the way with moving towards the future.

[2015-09-09 18:29] #24 closed

[2015-09-11 16:36] #68 closed

[2015-09-11 16:36] #91 closed

[2015-09-15 07:40] binarykitchen commented on #37
@revolunet ping? still haven't npm-published that yet?

[2015-09-18 09:58] jasonvdzeeuw commented on #52
@justinsa is there a reason why you don't support the E-commerce tracking with multiple trackers?
because I really need it now for an application.

I use the page views and events tracking, and push it to two trackers. Now I want to register the e-commerce the same way.

[2015-09-18 12:16] justinsa commented on #52
@jasonvdzeeuw all operations now support multiple trackers, e-commerce and enhanced e-commerce included. See the documentation on the homepage for usage information. Version 1.1.0 has been published to Bower but has not been published to NPM as that is waiting on @revolunet.

[2015-09-18 15:31] jasonvdzeeuw opened #103 "Sending E-Commerce data doesn't work"
Hello,

I've tried sending E-commerce data with multiple accounts and single account.
None of it seems to work.

I've tried it with the native google code, and that works.
So I've looked further and made a simple angular app, including just this module with the default settings.
When I log all the steps, everything seems to work correct, but there's no new outgoing request.

So  I have no third pa

[2015-09-18 15:41] justinsa commented on #103
Can you share the project and version of the code being used? Are you using e-commerce or enhanced e-commerce? I need to know how things have been setup to help you determine what might be wrong.

[2015-09-18 15:57] AVee commented on #103
The page below can be used to show this behaviour with the current angular-google-analytics.js. (After a valid analytics account is set...)
[code]

[2015-09-19 08:15] justinsa commented on #103
@AVee thanks for sharing this. @AVee and @jasonvdzeeuw, do either of you have a request chain that works when using the ga function directly? All calls made. I think there might be something amiss with how things are being configured during script tag creation for using e-commerce since the calls are all made correctly to the ga function.

[2015-09-21 09:24] jasonvdzeeuw commented on #103
@justinsa We had it working with this original GA code:

(We are co-workers by the way)

[code]

[2015-09-24 13:41] nanocom opened #106 "Analytics service initialization with an explicit function call"
I'm currently forced to inject the Analytics service in my module.run() function without using it. This has several drawbacks :
* the reader does not understand why an unused service is injected
* forces to add a // jshint unused:false to my run block
* can't decide wether to boot the service or not (based on a config var for example)

I'd rather have an explicit Analytics.boot(); call in my run f

[2015-09-24 14:45] justinsa commented on #106
I think what you want already exists.

In your app.config block you use:

[code]
**please double check the function name in the readme.**

In your run block you then inject the script as you desire.

[code]

[2015-09-24 15:47] nanocom commented on #106
yes that's what I needed thanks

[2015-09-24 15:47] #106 closed

[2015-09-25 08:02] justinsa commented on #71
@sonicparke This isn't a feature in this service and I can't think of a way you would be able to do such a thing with the existing implementation. While the service does support multiple accounts they are all equally used in calls and you cannot be selective of when they are used based on some kind of provided closure. Though such a feature sounds reasonable to support and should be fairly light t

[2015-09-25 08:33] justinsa commented on #65
@IdoHakimi A fix for this is out for review.

[2015-09-25 08:48] justinsa commented on #103
@AVee and @jasonvdzeeuw do you need to send a pageview at the end in order to get the transaction information to be sent to GA? The service is definitely making all of the calls to the ga function, but looking at your two examples the difference appears to be in the fact that you call `ga('send', 'pageview');` at the end of the working code, but never call that at the end for the Analytics block.

[2015-09-26 20:52] gitnik opened #107 "npm is not up to date"
title says it all :smile:

[2015-09-27 16:40] #65 closed

[2015-09-29 14:21] jasonvdzeeuw commented on #103
@justinsa Yeah that solved it! Thanks, stupid that we didn't notice this...
You might want to add that to the documentation for people like us who didn't knew that we should add pageView() every time :+1:

Thanks!

[2015-09-29 14:21] #103 closed

[2015-10-04 09:48] cyrfer opened #109 "$log.debug rather than store in memory"
Why store the logs in memory? I am concerned that the memory will grow quite large.

I would prefer to see $log.debug used rather than storing in memory.

Line 334 shows:
`that.log.push(args);`

[2015-10-05 02:01] justinsa commented on #109
You have to enable the logs to be stored and it is off by default. It is intended for diagnostic usage, not production usage. You would need to specifically call: 'logAllCalls(true)' during the configuration stage to enable this.

[2015-10-05 08:29] justinsa commented on #107
@revolunet can you publish to NPM, please. I do not have credentials to do that and I am not exactly sure how you would give me credentials, though I would be happy to have them so I can publish in the future.

[2015-10-06 07:36] revolunet commented on #107
looks like i can add you as an owner : https://docs.npmjs.com/cli/owner

can you give me your npm username/email please ?

[2015-10-06 07:37] revolunet commented on #107
(published 1.1.1 on npm)

[2015-10-06 07:37] #107 closed

[2015-10-06 18:51] MarcAstr0 opened #110 "Page tracking not working for me"
I have the following in my app:

[code]

Which should be OK (I think) yet on Google Analytics I get that "Tracking Not Installed". When I inspect the network traffic with the Developer Tools on FF or Chrome I see that ga.js is being called. What am I doing wrong here?

Thanks.

[2015-10-07 04:27] justinsa commented on #110
@MarcAstr0 do you want Classic (ga.js) or Universal Analytics (analytics.js)? What you have configured above is Classic analytics. If you remove the `AnalyticsProvider.useAnalytics(false);` line then it will use Universal Analytics (analytics.js). If the account is new then it is probably Universal Analytics that you want to use.

[2015-10-07 04:30] justinsa commented on #109
I added support for 'debug', 'info', and 'log' as supported parameters in the _log call internally. This doesn't change the implementation which is entirely meant to be for diagnostic purposes and not production operation. Closing this issue as By Design.

[2015-10-07 04:30] #109 closed

[2015-10-07 14:19] MarcAstr0 commented on #110
Apparently all I had to do was... wait. I wasn't aware that it takes some time for Google to start tracking. It's working great now. Thanks!

[2015-10-07 14:19] #110 closed

[2015-10-08 07:22] justinsa opened #111 "Add JustinSa as an NPM Owner"
@revolunet My NPM Username is justinsa (https://www.npmjs.com/~justinsa)

[2015-10-09 12:36] swege opened #113 "Enable explicit setting of protocol"
`var scriptSource = '//www.google-analytics.com/analytics.js';` (https://github.com/revolunet/angular-google-analytics/blob/master/src/angular-google-analytics.js#L396)

When the angular application is a native mobile application (e.g. by using cordova), the protocol will be `file://` since its beeing executed inside a webview. I see no possibility to set the protocol explicitly to `https://`

Thi

[2015-10-14 04:42] #31 closed

[2015-10-14 04:49] justinsa commented on #113
Released to Bower. Pending release to NPM.

[2015-10-14 04:49] #113 closed

[2015-10-14 04:50] justinsa commented on #111
@revolunet Let me know when you get a chance to do this as I just pushed version 1.1.2 for Bower and I need to update NPM. Thanks.

[2015-10-14 06:57] revolunet commented on #111
done @justinsa, thanks for your help !

[2015-10-14 06:57] #111 closed

[2015-10-14 07:02] revolunet commented on #111
btw, do you have twitter ?

[2015-10-14 13:57] justinsa commented on #111
I do. jsaundea is my handle.
On Oct 14, 2015 12:02 AM, Julien Bouquillon <notifications@github.com> wrote:btw, do you have twitter ?

—Reply to this email directly or view it on GitHub.

[2015-10-14 14:01] revolunet commented on #111
cool, not sure your FitBit stats are interesting though :)

[2015-10-14 14:08] justinsa commented on #111
They totally aren't. I need to disable that.
On Oct 14, 2015 7:01 AM, Julien Bouquillon <notifications@github.com> wrote:cool, not sure your FitBit stats are interesting though :)

—Reply to this email directly or view it on GitHub.

[2015-10-21 09:45] miguelCT opened #115 "License in bower.json"
Hi,

I've been trying to create a bower-webjar with 1.1.2 version of your plugin in [www.webjars.org](http://www.webjars.org/bower), however it seems to be some problem with the license since I get this message:

Could you please check if the sintax of the license field in bower.json is correct or maybe include a license file in the GitHub repository?

Thanks in advance.

[2015-10-22 09:06] revolunet commented on #115
Thanks, just added a LICENSE file, hope this helps. If not, please submit a PR with requird changes

[2015-10-22 09:06] #115 closed

[2015-10-22 16:05] miguelCT commented on #115
Now it works fine, thank you for adding it.

[2015-10-23 16:47] offsky opened #116 "Ability to set forceSSL or other custom fields on provider"
I would like to run this: ga('set', 'forceSSL', true);
Using something like this: AnalyticsProvider.set('forceSSL',true);
I know I can do: Analytics.set('forceSSL',true);
However this wont get sent until after the first few calls which means they won't all be over ssl. It would be nice to be able to set custom fields on the provider

[2015-10-24 04:50] binarykitchen commented on #37
hellooo???

[2015-10-24 09:40] justinsa commented on #37
@binarykitchen - This was published. The current mismatch in Bower vs NPM versions is for a new feature, not this one.

[2015-10-26 02:28] binarykitchen commented on #37
thx

[2015-10-26 07:40] justinsa commented on #66
@egeland - what exactly is needed to be done here? The support for loading the experiment script with the experimentId is already implemented in this script. What else is needed for this feature request?

[2015-10-27 03:36] #71 closed

[2015-10-27 03:36] #116 closed

[2015-10-27 08:56] egeland commented on #66
Hmm... almost six months ago... can't really remember what my issue was...

[2015-10-27 08:56] #66 closed

[2015-11-08 01:48] swege opened #118 "Multiple trackers: only first one is reporting"
I'm using two trackers and universal analytics. However, I can observe only one request inside the network tab. It shows always the tracker which is first beeing passed in the list to `.setAccount()`

The debugger shows that this line is executed properly two times, with each tracker object:
https://github.com/revolunet/angular-google-analytics/blob/1.1.3/src/angular-google-analytics.js#L319

I ha

[2015-11-09 13:23] swege commented on #118
Issue resolved. The problem is caused by using a reference to the same fields object.

    fields: {
            anonymizeIp: tracker.fields.anonymizeIp
    },

[2015-11-09 13:23] #118 closed

[2015-11-10 21:51] sukhiimangat opened #119 "How to make AnalyticsProvider.setAccount dynamic"
Hi,

How can i make AnalyticsProvider.setAccount dynamic. Means getting Tracking Id from database and assigned to AnalyticsProvider.setAccount. In Angular config I cannot use $rootScope and in run I have $rootscope which has tracking id. Any idea how can i do that?

Thanks

[2015-11-11 06:27] justinsa commented on #119
This is outside the scope of this module, but what you might want to consider is pre-loading data as part of your index page. Your index page would be server generated as you would need to generate a <script> tag that contains the data you require angular to have prior to serving the page back to the client.

[2015-11-13 16:12] reyazucar commented on #77
i have the same problem.
i am not reciving data using android 4.2, i try with a web google analitycs account and wiith mobile app one

[2015-11-14 04:42] justinsa commented on #77
@reyazucar is it possible for you to determine what might be a needed fix for this?

One possible solution I found on the web is: http://stackoverflow.com/questions/13415368/google-analytics-in-android-web-app-does-not-work-in-4-0-or-higher

Please let me know if that works for you and we can try to figure out a change to incorporate in this script specifically for Android. It would seem to be an

[2015-11-14 04:43] justinsa commented on #119
Closing this issue as it is not actionable for angular-google-analytics.

[2015-11-14 04:43] #119 closed

[2015-11-20 16:09] Desmodue commented on #103
I'll second the documentation update, just spent most of the day trying to workout why the data wasn't being sent.

[2015-11-20 17:21] billstron opened #120 "Manually creating a script tag does not use the set prefix"
Using a configuration with a delayed script tag and a prefix, the prefix is not used when the script tag is inserted and first page view generated.

I've identified the place with the error and will be submitting a pull request.

[2015-11-20 18:20] billstron opened #122 "Events are not assigned to the proper page."
When sending events, they all get attributed to the same page regardless of the page the event was created on.  I'm setting a prefix, and in my case it is always the prefix page.

I believe that the library needs to set the `page` with the analytics api.

https://developers.google.com/analytics/devguides/collection/analyticsjs/pages

[2015-11-20 22:38] #120 closed

[2015-11-20 22:39] revolunet commented on #120
thanks for the PR, merged !

[2015-11-20 22:40] revolunet commented on #103
Thanks for feedback ! any chance for @jasonvdzeeuw or @Desmodue to submit a pull request on the README to add the missing information where you wished have seen it ?

(sorry for frenglish)

[2015-12-03 10:44] arjandew opened #124 "Doesn't send data to google analytics"
Hi,
I dont see any page views in google analytics.

my configprovider:

    .config(function (AnalyticsProvider) {
      // Add configuration code as desired - see below

      AnalyticsProvider
          .logAllCalls(true);
        AnalyticsProvider.setAccount([
            { tracker: 'UA-70818677-1', name: "tracker1" }
        ]);

      AnalyticsProvider.setDomainName('XXX');
      AnalyticsPro

[2015-12-05 02:27] justinsa commented on #124
@arjandew I am not sure what 'inoic serve' for Chrome is and I don't have an Android tablet to assist in debugging what you might be experiencing.

Your configuration appears to be correct. Are you able to get the log from the Analytics service while on the device to see if the setup is happening? I'd imagine the issue is something specific to how analytics.js is handling the environment. Are you

[2015-12-05 12:11] nuriel commented on #124
if you're on localhost, try:
  AnalyticsProvider.setDomainName('none');

[2015-12-06 14:51] denyo commented on #77
I am encountering the same issue on some Android test devices for my Ionic app. Running the app via browser works fine, same for iOS. So the problem seems to be due to Cordova and Android. It is probably the same as #124.

From what I observed, not a single request for a tracking pixel goes out to https://www.google-analytics.com/collect. No matter if a pageView or a trackEvent occurred. However a

[2015-12-06 21:05] revolunet commented on #77
did you check cordova whitelist and CSP ? thse are security restrictions for cordova apps : https://github.com/apache/cordova-plugin-whitelist#content-security-policy

[2015-12-07 01:24] justinsa commented on #77
@revolunet Do you think this would be useful information to add to the Troubleshooting or Hybrid-mobile Mode section of the README?

[2015-12-08 06:09] LucasIsasmendi opened #125 "google experiment not working"
After setup experiment id, the function createAnalyticsScriptTag() never is called, therefore the experiment never load.

Also is pending a function that retireves the experiment value:
variationNumber = cxApi.getChosenVariation();
https://developers.google.com/analytics/devguides/collection/analyticsjs/experiments#cxjs-getchosen

[2015-12-08 12:13] arjandew commented on #124
@justinsa ionic serve is a chrome emulator, how do i get the log from the Analytics service? i can see the logs in the analytics object wich looks perfect. but i dont know how to see the debug information from the analytics.js sript.

@nuriel i tried that but it doesn't work

[2015-12-08 12:15] arjandew commented on #77
@revolunet i have google analytics in the whitelist.

This is my tag:

   <meta http-equiv="Content-Security-Policy"
          content="default-src 'self'http://stats.g.doubleclick.net/dc.js http://*.google-analytics.com data: 'unsafe-inline' https://*.google-analytics.com http://*.google-analytics.com https://*.gstatic.com http://*.googlecode.com http://*.gstatic.cn http://*.google.cn https://*.g

[2015-12-08 17:51] maruilian11 opened #126 "update a tag to 1.1.3"
hi, would you please update the tags to the latest version so that we can add your lib to https://cdnjs.com **with git auto-update**.
thank you very much!
https://github.com/cdnjs/cdnjs/issues/6261

[2015-12-09 16:20] calloncampbell commented on #124
I'm having similar issues...nothing is being sent to Google Analytics. I've tried both of these configurations with no luck.

        app.config(function (AnalyticsProvider) {
            //AnalyticsProvider
            //    .setAccount('UA-23413027-5')
            //    .useAnalytics(true)
            //    .logAllCalls(true)
            //    .trackPages(true);

AnalyticsProvider
.setAccount([{

[2015-12-09 18:04] justinsa commented on #124
@arjandew Advanced debugging with analytics.js is explained here: https://developers.google.com/analytics/devguides/collection/analyticsjs/advanced#debug. I am intending to add configuration support for this advanced debugging to angular-google-analytics when I get the chance, but that hasn't happened yet.

[2015-12-10 15:53] justinsa commented on #126
@maruilian11, what exactly do we need to do for this to work? As best I can tell there already is a 1.1.3 tag, which is how Bower also determines the version.

[2015-12-10 21:02] SimeonC commented on #99
There's a workaround for this with the chrome plugin here: https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofjcijamephohjechhna

[2015-12-11 07:47] justinsa commented on #125
@LucasIsasmendi - Did you add the Analytics service to at least a single run method as is described in the documentation? The service has to be instantiated at least once and that only happens if it is referenced by an `angular.run` method or a controller.

[2015-12-11 09:34] #99 closed

[2015-12-11 10:43] LucasIsasmendi commented on #125
Thanks justinsa, I did the update and now that line of code runs, however, as per google docs, experiment call should return a variation number, where is that code? how can I get the callback from google to obtain the variation number?
An example from other script is:
angularLoad.loadScript('//www.google-analytics.com/cx/api.js?experiment=' + experimentId).then(function() {
                var cho

[2015-12-12 05:32] justinsa commented on #126
@maruilian11 I just published the 1.1.4 release along with its tag. Perhaps this is what you required us to do in order to make the release available with cdnjs. Please close this issue if it is resolved.

[2015-12-15 18:50] camolin3 opened #130 "Add support to Exception Tracking"
It would be nice if you provide a way to send exceptions to google analytics, as explained here:
https://developers.google.com/analytics/devguides/collection/analyticsjs/exceptions

[2015-12-17 19:15] maruilian11 opened #131 "error with closing issue #126"
yes, sorry, i made some mistakes in #126, i tried to leave comment and close the issue, but it doesn't work...
here to tell you that you can close #126 and this one, too.

 still thank you update the tags!

[2015-12-18 12:04] justinsa commented on #131
Great! Will do this properly in the future as well.

[2015-12-18 12:04] #131 closed

[2015-12-18 12:04] justinsa commented on #126
Completed.

[2015-12-18 12:04] #126 closed

[2015-12-19 06:00] justinsa commented on #130
You can already do this by calling:

[code]

I added a convenience method to accomplish this so no one has to know or write the above: `Analytics.trackException('description', false);`

PR will be out shortly.

[2015-12-19 06:12] justinsa commented on #125
@LucasIsasmendi that isn't a callback from Google in the example you provide, but a thenable callback from a promise that happens to be for a script post-load. If you have Analytics in the angular run method then cxApi may already be available as a global by the time the method body executes. Ideally it will be but that depends on the script loading performed by the browser. For example, you may b

[2015-12-19 07:23] justinsa commented on #124
@arjandew I've added the debugging support in the latest release. The README explains how to enable this. I hope that helps resolve the issue with Ionic Serve / Android and Google Analytics. If you can let us know what you uncover it would be appreciated and we can incorporate a change into this library to workaround this in the future.

[2015-12-19 18:05] LucasIsasmendi commented on #125
Great!, it works within the run section as you mention.
Thanks!

[2015-12-19 18:05] #125 closed

[2015-12-19 20:10] #98 closed

[2015-12-19 20:10] #130 closed

[2015-12-21 17:04] camolin3 commented on #130
Thank you :)
Are you going to keep supporting bower?

[2015-12-21 17:43] justinsa commented on #130
Of course. I tag every release so Bower is aware. Is there an issue with Bower?

[2015-12-21 18:22] camolin3 commented on #130
No, sorry, I've just failed at upgrading the package. It is working fine.

[2015-12-30 22:47] generalconsensus opened #133 "Scroll Tracking"
As a feature request I would like to suggest that scroll tracking be investigated. I see that http://angulartics.github.io/ has something similar which they support

[2016-01-13 21:50] SimeonC commented on #122
Hey, I think this should be a bug rather than an enhancement. In my case I have a page `#/catalogue` that correctly triggers on the routeChangeSuccess to `/catalogue` in GA, but when on that page I call the following it logs the impressions to `/` which messes up time on page and product views stats.

[code]

[2016-01-13 22:52] SimeonC commented on #122
So this issue was found in the angulartics library as well, taking a hint from them I found this worked:

[code]

Reference: http://www.phil-hudson.com/how-to-fix-angularitics-event-wrong-active-page-in-real-time-stats/

[2016-01-14 16:54] fkusztos opened #134 "Advanced setting: User-ID"
I can not to set the user id tracking.
I tried two ways:
1- as the readme says, I tried
[code]
2- as the analytics doc says, I tried
[code]
But I can not see anything on the "Network" outputs, neither than on the GA interface. (note that the GA account is properly set up)
Is anyone uses this functionality?

Thanks

Version used: 1.1.5

[2016-01-23 20:14] justinsa commented on #134
Hey @fkusztos, after you set a value you have to call the PageView function in order to send the changes. If you didn't do that then please try that to see if it corrects your issue. Otherwise, you have two options now for debugging, both of which are explained in the README and can be very helpful for diagnosing. GA has internal logic for when it batches and sends commands.

[2016-01-24 10:29] Leo-G opened #135 "Can you create a Quick Start guide plz?"
I like your project but I could not figure out the min options required to configure your script, I am using UI states in mine https://github.com/Leo-G/Flask-Scaffold/, but with so many options I am not sure how I can use it, a quick start would be helpful.

Thanks.

[2016-01-25 23:30] that1guy commented on #134
Exact same issue here:

[code]

![ga](https://cloud.githubusercontent.com/assets/1218940/12568154/8b7d7388-c378-11e5-8452-6c916be7af44.png)

[2016-01-26 07:25] that1guy opened #136 "Unknown Target: undefined"
Hello, I'm successfully connected to my GA account and I can see events in reports as expected.  The problem is exception tracking is giving an unknown target error.

GA Config
[code]

Submit exception
[code]

Response:
<img width="424" alt="ga_error" src="https://cloud.githubusercontent.com/assets/1218940/12574657/ca0fdf04-c3ba-11e5-9987-04654bc6e9d5.png">

[2016-01-28 07:14] #136 closed

[2016-01-28 07:14] #122 closed

[2016-01-28 11:37] zloyag commented on #124
this is not bug
solution is disable cookie and use localstorage:
clientId = localStorage.getItem(GA_LOCAL_STORAGE_KEY);
if (!clientId) {
    clientId = uuid4.generate();
    localStorage.setItem(clientId);
}
AnalyticsProvider.setAccount({
            tracker: "gaTrackingId",
            fields: {
                storage: 'none',
                clientId: clientId
            }
        });

[2016-01-29 09:33] denyo commented on #124
@zloyag thank you for that hint which helped me get it working.
It looks like web based Android apps built with Ionic don't support cookies. That's why GA never sends anything out because the `clientID` is bad or not set at all. To solve this you have to take care of generating and storing the `cid`yourself.

Here is how I set it up in combination with ngStorage:
[code]

[2016-01-29 09:42] zloyag commented on #124
np, but for unique cid better to use angular-uuid4:
a way for injecting it's in config:
app.config(function(){
    var uuid4 = angular.injector(['uuid4']).get('uuid4');
   clientId = uuid4.generate();
})

[2016-02-02 15:40] asaarnak commented on #134
`this._set = function (name, value, trackerName) {`
should support also _gaMultipleTrackers

[2016-02-03 08:29] justinsa opened #138 "set function to support multiple trackers in single call"
At present, _set purposefully only supports a single named tracker per call. The justification originally was backwards compatibility and it isn't an action you want happening on every tracker.

One solution for this is to provide a sentinel value for trackerName (e.g., *) that would be used to tell the method to use the _gaMultipleTracker method instead of the _ga method.

[2016-02-03 08:30] justinsa commented on #134
@asaarnak I have created an enhancement request for your suggestion: #138

[2016-02-03 08:46] asaarnak commented on #134
Thanks, 1 more thing i stumbled upon is Analytics.trackPage where i wanted to track by tracker name. But by default it tracks all trackers and can't override it.

[2016-02-03 09:27] that1guy commented on #134
@justinsa, slightly confused here. Is there a solution yet to the original issue this ticket describes that I expanded on, or am I doing something wrong?  Thanks!

[2016-02-03 17:57] theseanstewart commented on #134
@that1guy I was having the same issue as you and it's because I was using the setting the name of my tracker in AnalyticsProvider.setAccount.

[code]

After removing `name: 'tracker1',` it started working properly.

This is mentioned in the docs, but it wasn't very obvious. Hope it helps!

[2016-02-09 15:04] alastair-todd commented on #77
Is there a resolution for this? Does it actually work? I am not using cordova just some local assets in the Android app. Nothing is posted to GA (yet works through browser).

Bit of a goose chase here since it is made clear in the docs that hybrid is supported.

Is it some unknown android permission?

[2016-02-09 15:05] denyo commented on #77
@alastair-todd see: https://github.com/revolunet/angular-google-analytics/issues/124

[2016-02-09 15:59] alastair-todd commented on #77
Woo hoo! Thanks. My config code for people:
[code]

[2016-02-19 18:16] santyclaz opened #139 "How to define different trackers for different environments via configuration"
So the problem I have is I have different environments for my app, each with a different tracker ID.

One solution I was thinking of would be to load the account information via configuration data that is retrieved asynchronously via AJAX request.

In the docs though, it gives me the impression the account can only be set during the config phase, so there isn't an opportunity for me to make an AJA

[2016-02-20 05:33] justinsa commented on #139
Hey @santyclaz, I actually had this exact scenario at the startup I was building last year. We opted to use a configuration file that we served to the client and loaded prior to loading the Angular components. The `configuration.js` contained all the necessary markers and created a `window.configuration` global. Our environments all had unique sub-domains so it was just a matter of checking the `w

[2016-02-20 05:39] justinsa commented on #134
@that1guy did @theseanstewart's comment resolve your issue? There is a big difference between the default tracker (which is an unnamed tracker) and all of the named trackers. If you are using the set function with a named tracker you have to call it with the tracker name: `Analytics.set('&uid', 123, 'tracker1');`. I purposefully made set not define the value for all trackers because that removes t

[2016-02-22 09:34] someone235 opened #140 "Is it possible to setAccount after module config?"
in .run or inside a controller?

[2016-02-22 18:32] justinsa commented on #140
Not at present. There is a lot of logic that goes into defining an account properly and all of that work is done during script injection, which can only ever happen once.

This could be changed.

What exactly is your use case requiring this?

[2016-02-23 11:42] someone235 commented on #140
I have a view where I send to the server a parameter from $stateParams, and then get in the response the relevant tracker id.

[2016-02-25 17:37] santyclaz commented on #139
@justinsa thanks for sharing this alternative solution, I will likely use this strategy as that's the only solution I see right now.

[2016-02-25 17:37] #139 closed

[2016-03-05 20:44] Toxantron commented on #135
Could you specify what is missing?

Because when I got started I found the README to be sufficient.

[2016-03-11 15:18] quarryman commented on #135
For instance, if I look at SetDomain configuration, how do i know if it's mandatory or not and what is the minimum set of config options that must be set?

[2016-03-11 21:11] Toxantron commented on #135
I only set tracking id - like you would do with the normal tag. Was enough to start tracking. Everything else is basically optional. For example I suppose google already linked your Domain with the tracking id.

[2016-03-14 16:46] vrghost242 commented on #135
I was hoping to kind of tag along on this thread (because it seems overkill to open a new one).

The readme file seems good, but tricky to get the minimum up. Maybe just instructions how to set the ID (think I figured that out) then testing it, as analytics is a bit of a closed box, and it can take it a while (think they say up to an hour) to start accepting entries on an id.

[2016-03-14 16:49] Toxantron commented on #135
I do agree there. Maybe we can split the README into seperate files or just restructure it. It seems to have grown over time and now might be a little confusing regarding its order. For example it is confusing that a mandatory instruction like `app.run(function(Analytics) { })` is hidden somewhere in the  middle.

[2016-03-14 17:01] vrghost242 commented on #135
That would be amazing. So the minimal (lets start with minimal with automated page view tracking) would be?

[code]

[2016-03-14 17:13] vrghost242 commented on #135
Certain you guys will do an amazing job. But in the meanwhile, if anyone wonders. To see if it is working, open the java console in Chrome (or any other browser) open the network tab, reload the page. You should see a connection to google-analytics.com/collect that reads something like

[code]

[2016-03-14 17:28] Toxantron commented on #135
You can even do less:
[code]

[2016-03-14 18:05] vrghost242 commented on #135
How do I create the session for the user session.
I.E. When it first loads,  I want it to tell Google analytics,  we got a user session,  and when the user leaves I want to close it.

Reason for asking is that the above code gives me page tracking,  but it does not show up in live view, which would be useful:)

[2016-03-14 19:30] Toxantron commented on #135
Well, I don't know why but I did the same and I get information about currently active users, time on page, etc.

[2016-03-14 21:10] vrghost242 commented on #135
OK, somehow I managed to break it (I am pretty good at breaking things, like a pro) by using the exact code above.

Then I unbroke it, have no clue how, but turning on the following options.

           displayFeatures: true,
            enhancedLinkAttribution: true,
            trackPages: true,
            trackEvent: true,
            trackEcommerce: true

Works now and thank you very much for

[2016-03-14 21:13] Toxantron commented on #135
Considering the fact I just recently started using it myself I am happy I could help.;)

[2016-03-15 20:18] Toxantron commented on #76
If this is still relevant I would like to take a closer look.

[2016-03-15 22:29] Toxantron commented on #76
This might not be a global solution, but for applications using $route it will skip all those redirect routes.

[2016-03-15 23:32] Toxantron commented on #76
I added an option to define routes in $routeProvider that shall not be tracked.  New behaviour will only track pages that define 'templateUrl' which implicitly excludes redirects as well as skipping routes that carry the 'dontTrack' property.

Usage:
``
$routeProvider
    .when('/member/:sessionId/:memberId', {
      templateUrl : 'member.html',
      controller: 'CardController',
      pageTrack:

[2016-03-17 11:41] vrghost242 opened #143 "A potential issue with not registering for live view"
Not certain this is a angular-google-analytics issue or a google analytics issue or expected behaviour.

So have an account set up for my account (UA-XXXXXXX). And I noticed that when I first set it up, I could not get the live view to work, then all of a sudden it started working (may have changed coding somewhat). So it starts working and all is good.

I then created a second property (-1 -2) fo

[2016-03-17 12:20] damiangreen commented on #135
What exactly is 'Analytics ' @Toxantron . I have strict-di enabled in my app and having this in run causes the strictness to fail as it's not injected anywhere?

[2016-03-17 12:24] Toxantron commented on #135
'Analytics' is the module itself. Simly put the entire point of this project is to provider the 'Analytics' module. Did you include the angular-google-analytcs.js in your project?

[2016-03-17 12:29] damiangreen commented on #135
Ah, i can keep strict-di enabled if i have something like this

[code]

Although resharper is telling me to remove the Analytics param in the function call as its unused. Which i can live with

[2016-03-17 14:03] Toxantron commented on #135
Oh, do you use any minifier? Minified code requires the array with named parametes because the minifier renames the variables.

[2016-03-17 14:04] damiangreen commented on #135
@Toxantron , yep, you're right, that's the reason i use the strict-di attribute.

[2016-03-17 14:05] Toxantron commented on #135
All good then?

[2016-03-23 15:23] realkyton opened #145 "Mobile app: Is it possible to track screens"
`trackPage()` doesn't produce any real-time results while `trackEvent()` works like a charm. I'd expect either a `trackScreen()`-method or another behaviour for `trackPage()` when `setHybridMobileSupport(true)` has been called. #

[2016-03-24 06:11] justinsa commented on #145
This sounds like an issue you have with Google Analytics and not this angularized wrapper around it. What exactly would you expect `trackScreen` to do? Would it call `trackEvent` with some default parameters? How is `trackPage` not doing this? There is conceptually no difference between a screen and page, they are the same thing.

[2016-03-24 07:39] arekpien opened #146 "Set tracking id in controller"
Hello, I have problem with set tracking id in the controller. I have a brief look and saw like I don't have that possibility by service, only by provider directly. I want to set up it in one of my main controller because of tracking id is fetch from the server after successful log in

Btw. I tied to manually set up configuration.accounts then invoke createAnalyticsScriptTag but not effect.

Do you

[2016-03-24 07:49] Toxantron commented on #146
At least right now it isn't as @justinsa pointed out.

As far as I understand this is due to the way angular modules are supposed to be designed. I also wouldn't know how such an API would look like?
[code]

I was however wondering how this use case keeps popping up. Why can't you deliver the the tracking id when the app is opened rather then using an AJAX call later?

[2016-03-25 08:37] #76 closed

[2016-03-25 08:51] justinsa commented on #146
Thanks for providing an answer to this @Toxantron. You are correct in your assertions and your quandary is the same one I have had when this question comes up.

If you have configuration data that needs to come from the server, then pre-load that prior to running Angular. There is no reason to have Angular fetch that data since it contains information to configure providers in Angular, and provide

[2016-03-25 08:51] #146 closed

[2016-03-25 08:52] justinsa commented on #140
See #146 for an example of what you could do with the existing logic.

[2016-03-25 08:52] #140 closed

[2016-03-28 22:26] that1guy commented on #134
@justinsa I'm still not seeing expected result here.  I see the `&uid` being appended to GA GET requests (I've even added a custom dimension with the same user id).

![image](https://cloud.githubusercontent.com/assets/1218940/14091922/e29617b4-f4f7-11e5-92b6-fbe07b37c382.png)

Here we are in logged in to Google Analytics and I've never seen a user logged in.

![image](https://cloud.githubuserconte

[2016-03-30 08:45] MichaelBorde commented on #145
For a mobile app on GA you have to send a "screenview" hit type.

The (simplified) workaround i use:

[code]

[2016-03-30 08:46] realkyton commented on #145
Thank you!

[2016-03-30 09:06] Toxantron commented on #145
@justinsa, @revolunet  maybe it is possible to use a delegate approach in [Line 1086](https://github.com/revolunet/angular-google-analytics/blob/master/index.js#L1086) to apply different listener logic.

Something like:
[code]

Such a structure could be easily extended if more requirements pop up for modified tracking behavior without breaking exisiting logic and blowing up the code too much. What

[2016-03-31 05:00] justinsa commented on #145
@Toxantron Why not have the _trackPage method do the screenview send if useMobileAppMode is true? This isolates the concern to the _trackPage method and leaves all of the existing logic untouched.

[2016-03-31 05:16] Toxantron commented on #145
True, might have overengineered that. ;-)

[2016-03-31 07:40] Toxantron commented on #145
Now I remember why I went for delegate approach. I wasn't sure whether or not the method parameters like state are required. And using above mentioned approach would allow method signatures to match the event definition.

[2016-03-31 14:42] justinsa commented on #145
A delegate makes more sense if we push it up a notch and allow the user to define the delegate via configuration. The default behavior of trackPage in mobile mode could just pass the current URL via screenview. Providing a sensible default usually covers a lot of cases and the configurable delegate then gives others an easy add.
On Mar 31, 2016 12:40 AM, Thomas Fuchs <notifications@github.com> wro

[2016-03-31 18:07] Toxantron commented on #145
Exactly where I was going with it. I just thought instead of adding more if statements into the code we rather go with the strategy pattern. Using the newly build API (method delegate) to cover ``readFromRoute``, ``'trackRoutes`` and the new mobile mode. This reduces number of ``if (configValue)`` statements and opens new API for custom extensions.

[2016-04-03 23:04] Toxantron commented on #145
I could prepare a PR with the delegate API without adding any new features and you can take a look. If you like it we merge it and provide API for custom delegate and mobile screens based on it. What do you say @justinsa?

[2016-04-08 10:53] Toxantron opened #148 "Package for nuget"
Working with ASP.NET (Core) I think the project could reach more users when it is available on nuget as well. So far grunt and npm only cover node and php projects.

[2016-04-10 04:33] justinsa commented on #148
I had no idea that PHP projects were heavily using NPM. I used to be a .NET developer (10 years). I haven't programmed in VS for a while now, but releasing for nuget was pretty straightforward as I recall. Good idea. Thanks, @Toxantron.

[2016-04-10 04:36] justinsa commented on #145
@Toxantron I am always happy to consider a PR for a reasonable feature addition.

[2016-04-10 06:27] Toxantron commented on #148
Well I don't think *heavily* but getting a js package via npm is an option. I think the php choice is bower which wie could also add support for.

[2016-04-10 12:08] Toxantron commented on #145
Layed the Groundwork in #149.

[2016-04-10 18:42] justinsa commented on #148
We already release to Bower.
On Apr 9, 2016 23:27, Thomas Fuchs <notifications@github.com> wrote:Well I don't think heavily but getting a js package via npm is an option. I think the php choice is bower which wie could also add support for.

—You are receiving this because you commented.Reply to this email directly or view it on GitHub

[2016-04-10 19:04] Toxantron commented on #148
I know. Didn't have coffee and kinda forgot. ;-)
On Apr 10, 2016 20:42, "Justin Saunders" <notifications@github.com> wrote:

[2016-04-11 07:27] revolunet commented on #148
I think if you need "nuget" then you can release it there on your own ?

[2016-04-11 07:32] Toxantron commented on #148
Sure I can. I thought you might be interested of adding it to the project
in general. Since 'nuget' differentiates between author and publisher I can
use my account and attribute it to you.

Should I include 'nuget' config via PR later?

[2016-04-11 07:40] ibrahimtengiz opened #150 ""trackPrefix" variable per account"
Hi,

I want to set "trackPrefix" variable per each account. Because I am tracking all projects in one analytics account and also tracking its own customer analytics account as secondary. Customer should not see "trackPrefix" but I should see.

[2016-04-11 07:45] revolunet commented on #148
sounds good ! yes add the nuget config with a PR please

thank you

[2016-04-13 20:46] #148 closed

[2016-04-14 14:36] Kyoss79 opened #152 "How to use when script is already injected with GTM?"
Hi there,
I was looking forward to using your module with a single-page-application of ours.

However the app is integrated into a page, that already has loaded google analytics via the google tag manager.

Is it possible to somehow tell your module that the script is already existant and does not have to be loaded up again? Because I get the GA welcome trace in the Browser console twice and am no

[2016-04-14 14:40] Toxantron commented on #152
Have you tried delaying the tag tag creation as described in the [README section](https://github.com/revolunet/angular-google-analytics#delay-script-tag-insertion)?

[code]

[2016-04-15 10:43] Toxantron commented on #152
Did that help @Kyoss79?

[2016-04-16 10:16] Itrulia opened #153 "How to use it with ui-router v1.0.x?"
`$stateChangeSuccess` doesnt exists anymore, but rather you will use

[code]

now, so should I just send the page event myself?

[2016-04-16 10:34] Toxantron commented on #153
@justinsa this looks like we need to elaborate on the whole core/plugin idea. The idea in #149 won't fully cover this, since we have no access to $transition without using $injector. So we can either add this as another `if (uiRouterVersion > 1)` conditional or find something future proof.

[2016-04-16 11:19] Itrulia commented on #153
I'll just use it like this:

[code]

in the meantime :)

[2016-04-16 11:37] Toxantron commented on #153
Good call. ;)

[2016-04-20 19:30] mklaber commented on #152
I tried this and though it only loads GA once, I get an `Invalid tracking Id. Aborting hit.` error from the Google Analytics Debug Chrome extension:
![image](https://cloud.githubusercontent.com/assets/939816/14687587/7ebf925c-070c-11e6-8eb7-cbb71e01116b.png)

This happens with both automatic page tracking and manual calls to `Analytics.trackPage`.

I'm going to try to exclude Google Analytics on j

[2016-04-20 19:33] Toxantron commented on #152
@justinsa any ideas?

[2016-04-22 08:24] justinsa commented on #152
This library isn't designed for an existing GA script to be present or that script to have configured the trackers already. It would be a bit of a refactor to change this. Not much of a refactor actually, but one none the less. We would just need to split the current script injection function into 2 parts: injectScriptTag and configureTrackers.

[2016-04-22 15:16] mklaber commented on #152
I ended up using Google Tag Manager's "History Event" to track page clicks as described here: http://www.simoahava.com/gtm-tips/track-url-fragments-as-pageviews/#gref

[2016-04-28 09:25] justinsa commented on #152
I am working on a change that separates the script tag injection from the tracker setup. This will a developer to call tracker configuration independently if tag injection has already been performed externally. I am in the process of updating and writing unit tests for this change. PR should come out in the next couple of days.

[2016-04-29 15:09] jimilucio opened #155 "Asyncronous callback after trackPage/trackEvent"
Hi everyone,
exists a way to set a callback function after the trackPage/trackEvent?

L.

[2016-04-29 15:15] Toxantron commented on #155
No. What would be the use case for this? Could you elaborate little on your
requirements?
On Apr 29, 2016 17:09, "Luciano" <notifications@github.com> wrote:

Hi everyone,
exists a way to set a callback function after the trackPage/trackEvent?

L.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view it on GitHub
<https://github.com/revolunet/angu

[2016-05-05 14:52] JeremyBYU commented on #134
Same Issue at @that1guy.  I can see my requests are sending the id to ga, but the `user` view in google analytics is not showing them.  Not sure if its google analytic issue or this packages issue.

[2016-05-05 18:59] that1guy commented on #134
We have resolved this issue.  It was a configuration error with Google Analytics.

[2016-05-06 13:00] jimilucio commented on #155
Yes, we have a page with redirect to the other app, and we would monitoring this event.

[code]

The redirect after the trackEvent remove the previous call to the analytics service of the current page.

[2016-05-13 10:13] akleiber opened #157 "track-event directive triggered on-click for select element - should be configured to be triggered on-change"
I want to track that what a user selects from a dropdown. When I use the event directive directly on the select element it will tricker a click and will also track as soon as the user clicks the dropdown.

Is there an option to tell the directive when to fire the event tracking?

[2016-05-13 10:14] akleiber commented on #157
My solution now is to add an `ng-change=trackSelection()` and track the event in the controller.

[2016-05-13 23:19] ervine13 opened #158 "Best way to prevent data being sent for specific users or situation ?"
I am building a web app and I am the dev and the admin of the site.

During dev, I don't my browsing data to be sent to GA. Unless, of course, I am testing new tracking implementation.

Then in the production site, while administering the site, what's the best way for me to not send my growing data? I know in GA I can filter IP addresses but that won't work for me because I have users under the sa

[2016-05-15 18:54] Toxantron commented on #158
Is your web app build as an SPA? The module comes with an [opt-out feature and offline mode](https://github.com/revolunet/angular-google-analytics#offline-mode) and my suggestion would be to use server side scripting to set some configuration variables. Either by adding GET variables to the page you bookmark as admin or by simply having an additional index page.

In `index.html`
[code]

In your `a

[2016-05-19 06:58] dennisbrandt opened #159 "Type Error, not a function"
In my config block I try to call

[code]

built.js:68 Uncaught Error: [$injector:modulerr] Failed to instantiate module layerCakeApp due to:
TypeError: g.logAllCalls(...).startOffline(...).useEcommerce is not a function

Everything is included and declared as a dependency, while in my config block I inject AnalyticsProvider. This is probably something stupid, but any ideas on where I am going wron

[2016-05-19 07:02] justinsa commented on #159
`useECommerce` -> There is a capital `C` in there.

[2016-05-19 07:03] #159 closed

[2016-05-19 07:03] Toxantron commented on #159
You seem to be using minified js. In this case you can not use
`function(AnalyticsProvider)` since the minifer strips away the name.
Rather use `['AnalyticsProvider', function(AnalyticsProvider)]` to make
sure the name is preserved.

[2016-05-19 07:09] dennisbrandt commented on #159
Hey, I do do that, the Capital C in ecommerce seems to be it. I suppose the docs need updating?

[2016-05-19 07:17] justinsa commented on #159
Fixed the documentation.

[2016-05-19 22:42] dennisbrandt commented on #159
Awesome, thanks guys!

[2016-05-27 08:48] Kyoss79 commented on #152
Hello all and thanks for the comments above regarding my issue.
The "delayScriptTags" kind of worked, but did not fix all issues.

We are currently producing a single-page-app that is to be included into a much larger project,
which already has the ga scripts in the page.

However it seems I cannot set the tracker name dynamically outside of the angular.config call.
Since the ga scripts get inject

[2016-05-28 04:38] #152 closed

[2016-05-31 13:44] Toxantron opened #160 "Angular 2.0"
Since angular 2.0 seems to be around the corner we might want to start developing a version 2.0 of the library on a branch. What do you think?

[2016-05-31 14:04] revolunet commented on #160
Hi, I'm not much into Angular apps anymore so can't help here but maybe @justinsa @adam187 @deltaepsilon ?

[2016-05-31 14:31] Toxantron commented on #160
If they are interested we could create a branch `ng-2` and start porting the module. I'd be happy to contribute via PR against the branch.

[2016-05-31 14:32] adam187 commented on #160
I'm also doing react mainly react nowadays :(

[2016-05-31 14:36] Toxantron commented on #160
Hopefully @justinsa is still on board. ;)

[2016-05-31 16:41] Toxantron commented on #160
I created a [branch](/Toxantron/angular-google-analytics/tree/angular2) on my fork and will start porting to angular2 there. Anyone interested to join in is welcome. If this repo gets a branch I will open a PR.

[2016-06-06 16:02] justinsa commented on #160
@Toxantron I may or may not get a chance to participate in this over the next two months.

[2016-06-07 03:14] josephlaw opened #161 "add appName into AnalyticsProvider/setAccount"
appName is required field when using App/Screen tracking.

URL Ref.: https://developers.google.com/analytics/devguides/collection/analyticsjs/screens#screen_fields

[2016-06-07 04:23] josephlaw opened #162 "always load analytics_debug.js"
I found that https://www.google-analytics.com/analytics.js always redirect/load the analytics_debug.js.

so maybe need to change below code to cater between ssl and www. thanks.
[code]

[2016-06-07 06:45] Toxantron commented on #160
Would be nice to have you on board. The way I see it angular2 is still in beta and even after release I assume it will take some time before applications reach production state and require tracking.

And what would I do without your code reviews. ;)

[2016-06-07 07:19] Toxantron commented on #161
Right now the master only tracks web pages. This becomes relevant if #149 is merged. In this case I will add the appName to [Line 1105](https://github.com/revolunet/angular-google-analytics/pull/149/files#diff-168726dbe96b3ce427e7fedce31bb0bcR1105]

[2016-06-08 03:34] #162 closed

[2016-06-09 04:42] justinsa commented on #160
I am always happy to code review for you, just mention me in a comment on the code review and I will take a gander.

[2016-06-09 06:59] Toxantron commented on #160
Thanks. I think working with a sparing partner always yields better results. As soon as the branch approaches a state of migrating the libraries logic I will let you know.

[2016-06-11 14:54] cyrfer opened #163 "npm install"
It would be helpful to have a NPM package.

As I understand it, we must use bower to install this. I am already using NPM for many other dependencies, including angular. Installing this causes bower_components to have a shadow copy of angular that I worry will get out of sync with node_modules.

[2016-06-11 14:59] Toxantron commented on #163
Unless I misunderstood your question there is a NPM module right [here](https://www.npmjs.com/package/angular-google-analytics). It is one of the badges on top of the **README** file.

[2016-06-11 15:35] Toxantron commented on #163
I just tried `$ npm i angular-google-analytics` and it works like a charm.

[2016-06-12 05:50] cyrfer commented on #163
@Toxantron - my apologies. I did not know what 'badges' were. My eyes jumped to the `bower install` instructions. I am used to other projects stating the NPM instructions also. I will update my package references now.

Perhaps you could state the NPM instructions next to the Bower instructions.

Thank you for pointing out the solution, and for maintaining a great project.

[2016-06-12 07:18] Toxantron commented on #163
No apology needed. I am glad I could help.

I will create a PR to include install commands for NPM and Nuget, let's see what @revolunet  and @justinsa  think about it.

[2016-06-13 06:22] Toxantron commented on #163
@justinsa I think this can be closed, unless @cyrfer has any objections?

[2016-06-13 17:24] #163 closed

[2016-07-04 09:29] geordie-- opened #165 "Why the script is created as ga and not as __gaTracker ?"
Hello,
I've noticed that you load the GA script and put it into a window variable called ga

`            })(window,document,'script',scriptSource,'ga');`

instead of the standard `__gaTracker` as Google suggests.
Is there any reason of doing that? The side effect is that another third-party script wants to get some information from the Analytics account and it's not able to retrieve because it ca

[2016-08-16 11:06] cawa-93 opened #166 "Have you DefinitelyType?"
This needs for typescript code

[2016-08-16 12:42] Toxantron commented on #166
Since it is was written in pure Javascript there are no TypeMappings for TypeScript. If I find the time to continue work on version 2.0 for Angular 2.0 it will be written in TypeScript. Till then I don't think we have what you need.

[2016-08-16 15:33] cawa-93 commented on #166
Очень жаль

[2016-08-17 10:13] addctdto opened #167 "enterDebugMode issue"
[code]

I wanted to explicitly set the debug mode to false in my configuration calls.
You can see that if one invokes the above function, `debugMode` always stays `true` and the side effect is that `analytics_debug.js` is always loaded.

**Issue described in one sentence:** even if one invokes `enterDebugMode(false)`, `analytics_debug.js` will be loaded as `debugMode` will be always true

[2016-08-17 13:41] justinsa commented on #167
This is correct behavior. The paradigm for the enter*Mode() function calls (there is also enterTestMode()) is that they enter that mode with no boolean being provided. The parameter in this case is to enabled the extended trace debugging should the developer want that extended debugging.

Do not call this method if you do not want debugging.

Other configuration options are named: set*, which allo

[2016-08-18 07:26] addctdto commented on #167
Makes sense. Thank you for the explanation.

[2016-08-18 07:26] #167 closed

[2016-08-20 09:08] cawa-93 commented on #166
I found this. If you have time, it would be good for you to check and complement it.

[DefinitelyTyped/angular-google-analytics](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/cc3d223a946f661eff871787edeb0fcb8f0db156/angular-google-analytics)

[2016-08-27 17:41] monk8800 commented on #135
I think the README file should differently be updated with @Toxantron sample code as the bare minimum required to setup the script. I went a few rounds trying to make sense of the huge amount of options available. Still waiting for the GA tracking to take effect, was not aware that it could take a few hours to get GA to display tracking data.

[2016-08-28 15:10] revolunet commented on #135
anyone willing to create a "quick start" section in the README ?

[2016-08-28 15:56] Toxantron commented on #135
Sure, but won't have time for it till next week.

[2016-08-30 13:54] m-kermani opened #168 "Analytics is not defined"
I read your documentation. that is really complete and nice, but I have a problem

Here is my config inside a `App.run()`
[code]

It is not working, when I go and see my Analytics account, it is not counting my visits!

I thought I need to call [Analytics.pageView()](https://github.com/revolunet/angular-google-analytics#using-the-analytics-service), but it returns error which is:

It is not workin

[2016-08-30 15:06] Toxantron commented on #168
You must call `config` before calling `run` and then you can inject `Analytics` into `run` or your controllers.

Please see #135 as well.

[2016-08-31 08:31] #168 closed

[2016-09-08 07:07] pallaviMN opened #170 "Queries on account and retrieve of data"
Hi Team,

1)How can i create an account for tracking?
2)If i use it in my mobile app, will i be able to see those user activity log in my application like facebook?

[2016-09-10 06:18] Toxantron commented on #170
Please refer to [offical documentation](https://support.google.com/analytics/answer/1008015?hl=en). Once you have an account you can follow the tutorial created in #169.

2. Yes, if you set it up correctly, it should show user actions within the app.

[2016-09-12 03:40] pallaviMN commented on #170
Hi Team,

Is there any API to retrieve user actions with in the app, Please suggest

[2016-09-12 04:38] Toxantron commented on #170
You mean like user events in Analytics? Scroll towards the bottom of the
README.

[2016-09-12 04:39] pallaviMN commented on #170
Yes, when i click on any view, i must be able  to have any API at client side to get those events done by him. Even if i, quit & relaunch the app then i must be able to see all those events

[2016-09-12 05:00] Toxantron commented on #170
Where do you want to see them? In Google Analytics? Have you checked the
README and Analytics documentation.

[2016-09-12 05:01] pallaviMN commented on #170
Nope, not in Google Analytics. Inside our app.

[2016-09-23 13:55] fredmanders opened #171 "No tracking when starting offline"
Hi!

I installed your plugin in my Ionic hybrid app. I've also added a send(screenview) on my $stateChangeSuccess to track screens. When the app starts with an internet connection, it perfectly tracks screens and events. When I go offline, it'll store it in the array. When I go back online, it'll send it to Google. Perfect!

But when the app opens without internet connection and THEN gets internet

[2016-09-29 17:43] armyofda12mnkeys commented on #134
Hey all just to confirm about adding GA's 'userId' to track a true session in a Single Page angular App:
I should add:
Analytics.set('&uid', '10101234');
and when should i set this when sending up page-views?
Like right now I manually send ga pageviews and custom dimensions on certain routes to Google via:
Analytics.trackPage(url, title, dimensions);
on certain Controllers.
so Should I set it alwa

[2016-10-04 11:49] muhammaddadu opened #172 "Typescript projects would benefit from interfaces.d"
Typescript projects would benefit from interfaces.d exposed for this project.

[2016-10-06 12:02] beeches opened #173 "Screen views are not counted in Google Analytics"
Hi,

I'm tracking pages manually by using Analytics.trackPage in the controllers of my app using the following call:

Analytics.trackPage(page, screenName, {
                'appName': appName,
                'appVersion': appVersion,
                'screenName': screenName,
                'dimension1': gaEnvironment,
                'dimension2': testValue
            });

When checking the nu

[2016-10-06 12:29] #173 closed

[2016-10-06 12:29] beeches commented on #173
#145 helped me out

[2016-10-18 17:19] 29er opened #174 "Can anyone share examples ?"
Hi I'm just looking for someone to share some working examples of tracking events/ page/state changes etc.  I was hoping to find some 'real world' example is this repo, but no luck.
Thanks !
Our app is ng 1.5 +

[2016-10-19 07:59] cawa-93 commented on #174
1. https://github.com/cawa-93/vknotice/blob/develop/src/HeaderApp/Header.tpl#L28
2. https://github.com/cawa-93/vknotice/blob/develop/src/HeaderApp/js/HeaderCtrl.ts#L44

[2016-10-19 11:20] Toxantron commented on #174
In my ScrumPoker application I track button clicks.

[In Template](https://github.com/Toxantron/scrumonline/blob/master/src/templates/default_source.html#L6)
[In JavaScript](https://github.com/Toxantron/scrumonline/blob/master/src/templates/default_source.html#L6)

[2016-10-19 13:59] 29er commented on #174
Thanks very much ! great info

[2016-10-19 15:23] 29er opened #175 "Dynamically changing account ID after App init"
Hi,
In my current setup, we don't know the Account (tracking id ) until we make a request to get environment info. So I need to wait to set the Account until after the app initializes, meaning I cannot set the account until after the 'run'. ( I do not have access to $http in a 'config' )

ie:
[code]

So I need to be able to do something like this below. (but it won't work because 'setAccount' is n

[2016-10-19 15:25] #174 closed

[2016-10-19 19:05] 29er commented on #175
FYI i was able to do something like this to  change the account info.

[code]
and in my 'run'

[code]

proabably not the best way to do it but it works :)

[2016-10-23 03:31] justinsa commented on #175
@29er Yeah, you figured out the way to do it that circumvents the config stage. This is purposefully mentioned in the README as unsupported because it should change in the future to prevent such monkeying with the configuration object post config phase.

The suggested way to do this is to pre-load the configuration from the server prior to starting angular.

I do see the merit though in exposing s

[2016-11-01 09:36] lyvyu opened #178 "Exclude url from tracking with ui-router"
Hello,
i have a problem here, i am using this module with ui-router but i have one url not to be tracked because i send this manually with Analytics.trackPage('...').

The question is how can i get this done ?

Thanks in advance.

[2016-11-02 07:14] lyvyu commented on #178
So guys ? anyone could help ?

[2016-11-02 10:33] martyzz1 commented on #178
I think you will have to use Analytics.trackPAge() on all pages... and wrap this call in an if not page_url = dont_track_url)

You could do this using a rootScope stateChangesuccess handler...

[2016-11-02 11:50] lyvyu commented on #178
@martyzz1
Yeah, thanks man, i've already did this:
`
      $rootScope.analyticsExceptionRoutes = [...];
      ...
      // check if need to track page
      if ($rootScope.analyticsExceptionRoutes.indexOf($location.path()) === -1) {
        Analytics.trackPage($location.path());
      }
`
but it thought that it might be another way to do this without writing any code of mine.
Any way, thaks dude f

[2016-11-02 12:02] Toxantron commented on #178
For ngRoute I added support a while back to include such configurations into the route definition as you can see [here](https://github.com/revolunet/angular-google-analytics#set-route-tracking-behaviors). There was also the attempt to customize the behavior of route tracking with a new API in the future in #149.

However due to a shift in personal priorities my time for this project is down to alm

[2016-11-02 12:25] lyvyu commented on #178
@Toxantron well, ok...i think i'll give a try for this.

[2016-11-06 23:23] wilsontamarozzi opened #179 "Add HTTPS in angular-google-analytics.js"
Hello,

Excuse my English, I live in Brazil.

I'm developing an extension for Chrome and security policy it only accepts external links in **HTTPS**.

I had to modify the angular-google-analytics.js file the following lines:

**Line 442:** `scriptsource = ( 'https:' === document.location.protocol 'https: //': 'http: //' ') +' stats.g.doubleclick.net/dc.js';`

**To:** `scriptsource = ( 'https:' ===

[2016-11-07 07:46] revolunet commented on #179
Hi, thanks for reporting

can you please tell what `document.location.protocol` value is in your extension ?

[2016-11-07 21:16] wilsontamarozzi commented on #179
Hi,

I put to display in `console.log(document.location.protocol)` and my exit was: `chrome-extension:`

[2016-11-08 04:36] justinsa commented on #179
So the fix is that ['https:', 'chrome-extension:'] === document.location.protocol. Seems like a reasonable time to abstract this to a function that returns an appropriate result based on whether it should serve HTTPS or HTTP.

Maybe something like:

[code]

The line on 442 can be changed to:

[code]

and 444 can be changed to:

[code]

That will allow this to be updated fairly easy in the future s

[2016-11-08 04:37] justinsa commented on #179
Also, I might be able to write this and unit tests for it in the next week and get this shipped as a release.

[2016-11-14 21:15] lrkwz opened #180 "Error: [$injector:strictdi] function(AnalyticsProvider) is not using explicit annotation and cannot be invoked in strict mode"
I have an angularjs application where app.module.js is:

[code]

I cannot understand how to invoke ```.config()``` correctlry

[2016-11-15 05:50] justinsa commented on #180
@lrkwz Please read: https://docs.angularjs.org/error/$injector/strictdi

This issue is not with angular-google-analytics library but how you have written the code.

You either need to use the annotated method call or the $inject function to declare dependencies.

As in:

[code]

or

[code]

[2016-11-15 05:50] #180 closed

[2016-11-15 07:07] harshamadala opened #181 "Argument 'fn' is not a function, got string"
Followed these stips but getting error "Argument 'fn' is not a function, got string"
1. bower install angular-google-analytics
2. <script src="bower_components/angular-google-analytics/dist/angular-google-analytics.js"></script>
3. var myApp = angular.module('myModule', ['angular-google-analytics']);
4. myApp.config(function (AnalyticsProvider) {
   // Add configuration code as desired
   Analytic

[2016-11-15 12:42] lyvyu commented on #181
What version of angular are you using ?

[2016-11-15 12:42] #178 closed

[2016-11-15 12:43] revolunet commented on #181
looks like `myApp.config(function (AnalyticsProvider) {` is not minifier-friendly ?

shouldnt you use `myApp.config(['AnalyticsProvider', function (AnalyticsProvider) {` ?

[2016-11-15 12:44] revolunet commented on #181
just realized this is written the same way on the README. can someone confirm the correct syntax for the `config`  block ?

[2016-11-15 13:20] Toxantron commented on #181
@revolunet from the top of my head I would agree. I see no reason why `config()` would behave differently when minified. @harshamadala could you try to copy the method syntax from `run()`?

[2016-11-15 14:28] lrkwz commented on #180
Ok thank you, I've fixed the configuration and posted my question here http://stackoverflow.com/questions/40612321/start-tracking-angular-google-analytics sorry for bothering here.

[2016-11-15 15:49] justinsa commented on #180
@lrkwz Posting your question on StackOverflow probably won't get you a response since you are asking a question about how angular-google-analytics configuration and setup works.

Have you thoroughly gone through the README and tried following the quick start?

[2016-11-15 15:54] justinsa commented on #181
The problem is the 'run' method is configured incorrectly.

[code]

That is not how DI declarations work in Angular. This should be:

[code]

Array declaration DI requires the function handler be the last item in the array. Angular was telling you that it found a string instead of a function as the last item in your array.

[2016-11-15 15:54] #181 closed

[2016-11-15 16:00] lrkwz commented on #180
yes ... as you can see I did not understand (probabily because I'm an
angularjs newbie), but I'm not the only one
http://stackoverflow.com/questions/40192085/angular-google-analytics-integration

*=> Luca <http://stackexchange.com/users/239746>*

2016-11-15 16:49 GMT+01:00 Justin Saunders <notifications@github.com>:

[2016-11-15 16:35] revolunet commented on #181
good catch @justinsa  👀

should we also fix the injection for AnalyticsProvider in the README ?

[2016-11-15 16:48] harshamadala commented on #181
Thanks everyone for quick replies

[2016-11-16 12:48] nmarcetic opened #182 "Example syntax error"
In README file Installation and Quick Start section you have a syntax error which brake the code
https://github.com/revolunet/angular-google-analytics#3--set-your-google-analytics-account-and-start-tracking
Should be .run(['Analytics', function(Analytics) { }]);   -- The ['Analytics'], function is not valid

[2016-11-16 15:08] revolunet commented on #182
thanks, i just sent a patch here https://github.com/revolunet/angular-google-analytics/pull/183

[2016-11-17 10:43] nmarcetic commented on #182
Thank you! I am closing this one.

[2016-11-17 10:43] #182 closed

[2016-11-17 16:54] justinsa commented on #172
@muhammaddadu Do you have a link to documentation about generating interfaces.d?

[2016-11-17 16:58] justinsa commented on #172
I assume this is the most accurate guide on the topic: https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

[2016-11-21 10:16] Toxantron opened #184 "Update packages"
1.1.8 was released a couple of days ago, but only bower was updated. We should update npm and nuget as well.

I will update nuget and create a PR.

[2016-12-01 21:56] jkjustjoshing commented on #172
Additionally, most of the work is likely already done - see https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/angular-google-analytics

[2016-12-09 08:45] lyvyu opened #186 "Get and Set CliendId on configuration"
Hello,

I need to set clientId on analytics init but i don't understand how to get it.

Here is what i found in google docs:
[code]
So my question is **How can i do this with this angular module ?**

Thanks in advance.

[2016-12-09 10:18] lyvyu commented on #186
Sorry, my bad, everything is ok!

[2016-12-14 21:14] 29er opened #187 "Ho can I turn off 'debug' mode"
I am still seeing this when I run GA . In the console I am seeing ' Running analytics_debug.js. This script is intended for testing and debugging only.'

In my set up config I have this :
    AnalyticsProvider
      .delayScriptTag(true)
      .ignoreFirstPageLoad(true)
      .trackPages(true)
      .trackUrlParams(true)
      .setPageEvent('$stateChangeSuccess')
      .logAllCalls(false)
      .s

[2016-12-14 21:25] 29er commented on #187
nm figured it out :)

removed the .enterDebugMode(false) line

[2016-12-14 21:25] #187 closed

[2016-12-16 05:02] KrisBraun opened #188 "Change currency after initialization"
Sometimes currency is a user-selectable option at checkout. I couldn't find a method to change the currency after configuring `AnalyticsProvider`. Could a method be exposed?

[2016-12-16 20:52] justinsa commented on #188
@KrisBraun Do you know how this value is communicated if changed after configuration? Can you use the `set` method?

[2016-12-16 20:58] joaomarcusjesus opened #189 "I'm using ONSEN.io Would be a problem?"
**Hi Guys,**

I'm new with angular and google anlytics.

In my application I'm using onsen, which works with pushPage (to stack) and popPage (to unstack) methods and my intention is to get the user views and send to the platform google analytics.

I'm facing the following problem...

[code]

* Yes, remembering that my application is hybrid (cordova)
I do not know what I'm doing wrong !!!

In index

[2016-12-16 22:48] justinsa commented on #171
What is happening here is that you are starting the script in offline mode and then collecting a bunch of screen and event calls. Then you tell it to inject the GA script and register it. Then you go online. When the script goes online it then re-plays everything in the queue, in order. Do you see how that isn't correct? Your registration happens after all of the events, so they aren't tracked by

[2016-12-18 02:46] #135 closed

[2016-12-18 02:51] #179 closed

[2016-12-21 03:45] KrisBraun commented on #188
I'm calling this, and I think it might be working:

[code]

It's just that I can see the saved `currency` is passed in the `ecommerce:addTransaction` call, which I assumed would override any previous set value.

[2016-12-26 01:46] #189 closed

[2016-12-26 18:17] igorjacauna opened #191 "Analytics.registerScriptTags and Analytics.registerTrackers are undefined"
I'm using version 1.1.8 and when use `AnalyticsProvider.delayScriptTag(true);` and after try call

[code]

They are undefined.

I guess the files into `dist `directory are outdated. I searched by `registerScriptTags `and `registerScriptTags` in `angular-google-analytics.js` and `angular-google-analytics.min.js` files. No success.

[2016-12-28 21:20] justinsa commented on #191
Hey @igorjacauna - the files in the `dist` folder are very much out-of-date. I will look at updating those with the grunt build script. Most people use `npm`, `bower`, or `nuget`. You can also use the `index.js` file in the root folder for the meantime (and just rename it).

[2016-12-28 21:34] igorjacauna commented on #191
Hi! I use bower, and in the file `bower.json` the main reference is to `dist` folder. So, when I builded my project, it imported from out-of-date `dist` folder.

[2016-12-28 21:43] justinsa commented on #191
Ah! Thanks for letting us know. We will get this fixed ASAP.

[2016-12-30 13:59] justinsa commented on #191
This is now updated with a 1.1.9 release tag.

[2016-12-30 13:59] #191 closed

[2017-01-09 21:53] djvs opened #192 "AnalyticsProvider.setAccount is not a function"
Trying to just do the normal "config" section for AnalyticsProvider.  Calling setAccount gives this error...running debugger shows AnalyticsProvider as an empty {} object.

[2017-01-11 20:03] justinsa commented on #192
@djvs What error are you getting?

Do you have the module included as part of the dependencies?

Can you provide the code that isn't working? What you have provided so far is inadequate to determine what is wrong.

[2017-01-12 06:27] Toxantron commented on #184
I updated [the nuget package](https://www.nuget.org/packages/angular-google-analytics/1.1.8) but there will be no PR since you @justinsa prepared the `.nuspec` already.

@justinsa can you update NPM and close this, or does @revolunet own the account.

[2017-01-12 14:29] djvs commented on #192
Hi Justin,

That code has been erased to make space for alternate code, but yes, the
module was installed and loaded, and AnalyticsProvider was injected into
the app config block - inspecting it with debugger in context showed an
object with only a $get function.  The error is triggered by attempting to
do AnalyticsProvider.setAccount(...) in that same context, and is shown in
the title of this gi

[2017-01-12 14:55] justinsa commented on #192
@djvs I cannot attempt to debug or identify the problem with what you have provided. A $get function is what a provider must expose in Angular. The fact you are seeing the $get function though implies you haven't called it in the config context. The quick start section in the README lays out exactly how to structure the Angular.config.

If you want help resolving this, you need to post code that s

[2017-01-12 15:24] justinsa commented on #184
Published 1.1.8 to NPM. It may take a bit for NPM to display the update.

[2017-01-12 15:24] #184 closed

[2017-01-13 11:46] ViieeS opened #195 "Cannot find module 'angular' in build time browserify"
Cannot find module 'angular' from '.../vendors/angular-google-analytics/dist'

I define it like this:
[code]

maybe problem with this
[code]

[2017-01-13 14:37] ViieeS commented on #195
Temporary fix it by remove init checks:
![promonavigator 2017-01-13 17-36-18](https://cloud.githubusercontent.com/assets/8194543/21933544/e591b58c-d9b6-11e6-8705-86fa9aa06910.png)

[2017-01-13 15:37] Toxantron commented on #195
Did you load angular before loading this script?

Could you give us a fragment of your _index.html_ or comparable to spot the issue?

[2017-01-13 15:45] Toxantron commented on #166
@cawa-93 thank you for the hint.

I extended the methods I found in the commits since 1.1.0 in DefinitelyTyped/DefinitelyTyped#13958

I can not guarantee that it now covers all methods, I just assumed that @cyrilschumacher intial work was valid till 1.1.0

[2017-01-16 13:14] ViieeS commented on #195
Yes, angular is first import:

[code]

Heres snippet of my build code:
[code]

[2017-01-16 15:40] ViieeS commented on #175
@justinsa  So, for now if I wanna resolve Analytics account in run-time, I need:
[code]

[2017-01-16 16:35] ViieeS commented on #134
@armyofda12mnkeys `Analytics.set('&uid', '10101234');` - not working for me... don't see it in network tab

[2017-01-18 10:05] muiscatron opened #196 "How to set a custom page when sending an event?"
I am tracking pageviews and events in my application. I used the regular expression method setRemoveRegExp to filter out sensitive information from page urls, and this worked OK. However, when I send events, the default page associated with the event does not have this filtering applied, and the sensitive information is still visible in the Pages report which is within the Google Analytics "Events

[2017-01-18 11:24] ikabar-tracxpoint opened #197 "GA not working with JXBrowser"
I'm using jxbrowser for a desktop application. JXBrowser is based on Chromium version 51.

I'm trying to use Google Analytics but there is some strange behaviour.
When running the code via Chrome the analytics are sent as expected (and visible in the dashboard).
But when running the same code in the JXBrowser no data is shown in the dashboard.

I used a sniffer and I noticed that the request to go

[2017-01-18 11:30] muiscatron commented on #196
Further information:
When I call trackEvent and send the value parameter as null, dp property is never set in the collection api.
If I set any value such as 0, the dp property is set using the page property value.

[2017-01-24 13:23] machulav commented on #186
@lyvyu how did you do this:
[code]

in this library?

[2017-01-24 13:37] lyvyu commented on #186
@machulav in config, when you set up your GA account you have to set up object fields with key clientId: value, see example below:
[code]

[2017-01-24 15:19] machulav commented on #186
@lyvyu ok, I see. But haw to GET `clientId ` using this library?

[2017-01-24 15:26] lyvyu commented on #186
@machulav well if you want to retrieve you can reefer to `window.ga object`, but what exactly you want to achieve ? why do yo need clientId ?

[2017-01-24 15:32] machulav commented on #186
@lyvyu I need to send `clientId` it to GA in a custom dimension to achieve this goal: [https://www.clickinsight.ca/about/blog/using-clientid-to-connect-multiple-visits](https://www.clickinsight.ca/about/blog/using-clientid-to-connect-multiple-visits)

It would be preferable to get `clientId` using this library instead of using `window.ga` object. But in this library I can't find any property or fu

[2017-01-24 15:40] lyvyu commented on #186
@machulav ok, I understood...unfortunately you can't do this with this library.
In my case, I was supposed just to change default `clientId` with one that came from another site!
Anyway you have to do this with `window.ga` instead! Good luck!

[2017-01-24 15:55] machulav commented on #186
@lyvyu thank you!

[2017-01-25 10:45] machulav opened #198 "`$window.ga has initialized` event"
I need to know when the `$window.ga` will be initialized by the `angular-google-analytics` wrapper and then run my custom script which should let me know whether AdBlocker works on the page and block `$window.ga`:

[code]

Do you have such event in the plugin?
How can I know that `$window.ga` has initialized already?

Thank you!

[2017-01-26 10:12] machulav commented on #198
@revolunet @deltaepsilon @justinsa do you have an idea how to do this?

[2017-02-03 16:33] justinsa commented on #186
This seems like a reasonable feature addition to surface the clientId. I am re-opening this issue and updating it to be a feature request.

[2017-02-03 16:40] justinsa commented on #198
@machulav This library doesn't know about the state of $window.ga beyond the script being injected on the page. All commands are run through the standard interface with the GA function call. That function simply pushes to an array and the GA script does its business with the calls this library makes to the `ga` function.

You might want to read through the GA documentation to figure out if the ga

[2017-02-06 12:19] machulav commented on #198
@justinsa thank you for the answer!

[2017-02-06 12:19] #198 closed

[2017-02-10 04:18] LalitAgrawala004 opened #199 "Why should we make useDisplayFeature = true"
Hi
This is not an issue.. need some info.
I was going through the all the configurations and found useDisplayFeature. It was set to true in the readme file but when I am setting it to true or false I am not noticing any difference.

Is it recommended to set it to true? what's the advantage of this?
Thanks a lot in advance...

[2017-02-10 19:21] bluecollarcoder commented on #16
I ran into a similar problem with my Angular app blowing up with Chrome extensions. The problem that I saw was that the extension was inserting custom scripts onto the page and moving my existing script tags from `<head>` into `<html>`. When I moved my root controller from `<html ng-app="app" ng-controller="AppCtrl">` to `<body ng-app="app", ng-controller="AppCtrl">`, everything worked.

[2017-02-27 16:26] sqrter opened #200 "Override scriptSource for setting up Expires or Cache-Control headers"
Hi,

There's a common issue while optimizing Google PageSpeed insights score. The thing is that https://www.google-analytics.com/analytics.js is delivered with cache-control:public, max-age=7200 header which is only 2 hours. Though, recommended value is at least 1 week (https://developers.google.com/speed/docs/insights/LeverageBrowserCaching), so to get rid of the warning that PageSpeed insights g

[2017-03-02 17:07] zkovalenko opened #201 "enhanced eCommerce data is not being send to GA"
@justinsa Question:
 I have setup analytics as follows:
  AnalyticsProvider.setAccount('UA-XXXXXXX-1');
  AnalyticsProvider
      .ignoreFirstPageLoad(true)
      .trackPages(true)
      .trackUrlParams(true)
      .setPageEvent('$stateChangeSuccess')
      .logAllCalls(true)
      .setDomainName('none')
      .useECommerce(true, true);

I am sending the events as per instructions and can see the

[2017-03-07 14:10] #201 closed

[2017-03-21 03:49] justinsa opened #203 "Update SSH Key for CodeShip in Settings"
@revolunet as the repository owner you are the only one who can update the SSH Keys used for deployment to CodeShip. The CodeShip build is failing because it cannot reach the repository.

The SSH public key from CodeShip can be found here: https://app.codeship.com/projects/100418/configure. Once you have the SSH public key, go to "Settings > Deploy Keys" in this repository and add the CodeShip key

[2017-04-14 15:52] benag opened #204 "Doesnt work with UI Router"
The guy in charge with Google analytics,
says that it doesnt detect page load, our web site is written with Angular 1 and UI router.
I see there is example how to use with ng-router but i dont see example how to use with ui-router.

Ben

[2017-04-14 17:06] #204 closed

[2017-04-26 11:57] splNovikov commented on #134
Same issue. Tried different things:
.run(['Analytics', function (Analytics) {
        Analytics.trackEvent('Page loaded');
        Analytics.set('&uid', userId); // also tried 'userId'
        Analytics.pageView();
    }]);

Doesn't help.

[2017-05-10 15:52] sarates opened #205 "cid is incorrect"
during usage cross-domain linking on some laptops cid is incorrect. For example:

dl:https://xxxxxx.xxxx.com?email=test@test.test&_ga=2.13376453669.21418884567.1494434567-1083593468.1486999114

and

cid:10835945668.1484569125

so there is a difference between cid on two pages.

Settings on parent site:

ga('create', 'XXXXXXXXXXX', 'auto', {'allowLinker': true});
ga('require', 'linker');
ga('linker

[2017-06-05 20:42] iamvenkat45 commented on #196
+1

[2017-06-20 20:49] sgwatgit commented on #175
If you are doing manual bootstrapping of your application you have access to the injector and therefore `$http` before your application bootstraps.

[code]

[2017-07-03 15:45] Desmodue opened #206 "enhanced eCommerce data is not being send to GA"
Analytics.trackCheckout does not send data to ga. Looking through closed issues, this issue enhanced eCommerce data is not being send to GA #201 zkovalenko is exactly what I am seeing.
Unfortunately it was closed with no reply...

What am I doing incorrectly ?
All the cart tracking works, just that ga always shows the checkout as being abandoned.
Google analytics debug shows the items and setActio

[2017-07-05 13:06] Desmodue commented on #206
**UPDATE**
Not obvious to me in the docs but issuing a pageView directly after sends the data to GA.

[2017-07-05 13:06] #206 closed

[2017-07-05 13:28] revolunet commented on #206
Thanks for reporting

[2017-07-17 17:40] lastlink opened #207 "Not working... Help with setting up."
This is what I've done so far:
export default function config(...., AnalyticsProvider) {
AnalyticsProvider
        .logAllCalls(true)
        .startOffline(true)
        .useAnalytics(false)
        .useDisplayFeatures(true)
        .useEnhancedLinkAttribution(true);
    AnalyticsProvider.setAccount('trackingid');

...
}

.config(config)
    .run(['Analytics', function(Analytics) {
        Analyti

[2017-07-18 15:46] lastlink commented on #207
update-
this worked for me:
I didn't need to do the .run([analytics...,
but each view controller needed this
Analytics.trackPage($location.$$path, $state.current.data.pageTitle);
I also removed .startOffline(true), this would be more applicable for cordova hybrid apps.

[2017-07-19 06:18] justinsa commented on #207
@lastlink The problem was using `.startOffline(true)`. Nothing will be sent if the service is in offline mode. It is just queued in-memory waiting to be put into online mode. Offline mode is turned off when you call the service after configuration with: `Analytics.offline(false);` Registering the script tags and trackers does not take the service out of offline mode.

Also, you should remove the `

[2017-07-19 06:18] #207 closed

[2017-07-19 21:30] lastlink opened #210 "outbound transport calls not supported"
Google analytics supports outbound calls. Typically these are done w/ a parameter of transport: 'beacon' and a parameter that reroutes after the analytics tracking event has been sent. I've setup  2 pull requests to update this.
https://github.com/revolunet/angular-google-analytics/pull/209
https://github.com/revolunet/angular-google-analytics/pull/208

[2017-07-28 08:01] codemerlin opened #211 "Change storage location of offline mode from in-memory array to localStroage"
Hi,

Can I extend this module, to allow injection of the storage location of offline events. So, that as per the application need developer can inject. By default it would in-memory array only. So, that it stays backward compatible.

Let me know your thoughts.

Regards
Mohit Thakral

[2017-08-01 06:05] justinsa commented on #211
Do you want to extend it with localStorage and/or sessionStorage as per HTML5?

If you keep it fully backwards compatible, add an acceptable suite of unit tests, and ensure there is no requirement on another module / package, then absolutely. You just need to submit a PR for the change and I will be happy to code review, provide feedback, and assist you in getting the change in.

[2017-08-11 15:06] engageft3 opened #212 "AnalyticsProvider configuration does not persist into Analytics instance"
Good morning,

I'm currently attempting to use version 1.1.8 with Angular 1.5.8 and have this block for setting everything up:

[code]

When logging `$rootScope.analytics` the configuration still has everything set to the default values.

Any help with this would be greatly appreciated, thank you in advance.

[2017-08-11 18:27] #212 closed

[2017-08-14 08:41] revolunet commented on #212
so what happened please ?

[2017-08-14 14:28] revolunet commented on #212
all good, thanks 👍

[2017-09-25 15:22] Edistra opened #213 "Site Speed"
Using angular-google-analytics, in Google Analytics Behavior > Site Speed, all the data relative to response time, like avgDomInteractiveTime, is set to 0 :

![image](https://user-images.githubusercontent.com/13304634/30816284-dba8378a-a215-11e7-8356-055163d5e917.png)

Does anyone know how can I achieve to get informations about site speed ?

[2017-09-29 09:38] SaschaFitzner opened #214 "Google Optimize Integration"
Hello,
I want integrate Google Optimize. Normaly, the following code snipped must be added. Its possible with the angular-google-analytics package?

`ga('require', 'GTM-1234567');`

Thank you and kind regards,

Sascha

[2017-10-18 13:26] Arti3DPlayer opened #215 "Send app version"
How to add version number to all events ? I'm using angular.js with nw.js desktop app. When I was using universal-analytics there was screenview-tracking where I could specify a version.https://github.com/peaksandpies/universal-analytics#screenview-tracking

[2017-10-31 07:42] vivekmahato26 commented on #90
I am getting these errors
1.Called method ""ec"" threw exception: TypeError: Cannot read property 'apply' of undefined
2. Plugin "ec" does not have method "addTransaction".
3. Plugin "ec" does not have method "addItem".
4.Plugin "ec" does not have method "send".

[2017-11-06 23:32] cyberwombat opened #216 "AdWords tracking"
I am trying to track adwords conversions but while I see clicks and I see sales there is no correlation - I cannot attribute the sale to a visit. Its my understanding that once I have linked adwords with GA that I can simply use the GA tracking code and nothing else. I have read that on the angularitics site people were getting sessions dropped/recreated and experiencing a similar issue.

Do you h

[2017-11-15 15:52] DarkIsDude opened #217 "@uirouter/angularjs"
Hi all,

With the new version of angular-ui router, we can't now use your trick.
Here what I do:
[code]

Is it ok?

How you track params in URL: example => http://localhost:3000/acheter?size=12&page=1&type=false&unused=false&occasion=false&new=false&promotion=false

You send it with `Analytics.trackPage($location.url());`?

[2017-11-28 12:40] CheungJ opened #218 "How to disable logging to the console?"
For protractor tests, I have disabled analytics via `disableAnalytics(true)`.
However, it's writing the following message to the console:

[code]

Protractor is seeing the message and outputting it to the terminal.

Is there a way to completely prevent all console logs?

[2017-11-28 13:21] justinsa commented on #218
1. You could provide the service a stub $log service and just noop all calls to it.
2. You could use offline mode instead of disableAnalytics. Offline mode doesn't load the GA scripts and just logs all calls to an internal queue.

[2017-11-28 13:32] CheungJ commented on #218
Thanks for the speedy response!
You second option worked: `AnalyticsProvider.startOffline(true);`

Thank you!

[2017-11-28 13:32] #218 closed

[2017-12-07 16:22] mwq27 commented on #213
i believe for that data you'll need to use the `trackTimings` method.  https://developers.google.com/analytics/devguides/collection/analyticsjs/user-timings
I'm actually setting this up currently. I haven't been able to get the timing event to fire yet, so i'm trying to debug that.

Hopefully this helps

[2017-12-07 22:46] Edistra commented on #213
Thanks for your return.

I'm not able to try it at the moment, but it seems that the best solution would be indeed to handle it manually.

[2017-12-08 10:24] chunkydigits commented on #217
having the same problem as we've just updated the version of ui router. Seems like it would be good to have a new version to accommodate transition hooks in the setPageEvent method.

[2018-01-12 11:55] codalprashant opened #219 "Not tracking all the state changes evenif integrated the same way mentioned in the document."
It is just tracking the first page. But when the state is changed, it stops tracking the pages and the active user.

[2018-01-16 13:28] Sparksx commented on #219
Hi,

This is due to ui-router update, check this: https://ui-router.github.io/ng1/docs/latest/modules/ng1_state_events.html

[2018-01-16 13:29] Sparksx commented on #217
Hi,

This is due to ui-router update, check this: https://ui-router.github.io/ng1/docs/latest/modules/ng1_state_events.html

[2018-01-16 16:59] DarkIsDude commented on #217
@Sparksx thanks, I see it :). I don't want use the legacy solution, it's deprecated but I want to know if my solution is clean :).

[2018-01-17 06:55] codalprashant commented on #219
I managed it using AnalyticsProvider.setPageEvent('$stateChangeStart') in config and $rootScope.$on('$stateChangeStart',
      function(event, toState) {
        Analytics.trackPage($location.absUrl());
}); in run section.

[2018-01-18 14:00] hbdbim opened #220 "$stateChangeSuccess are now deprecated and disabled by default"
what now!?

[https://ui-router.github.io/guide/ng1/migrate-to-1_0#state-change-events](url)

[2018-01-19 23:13] revolunet commented on #219
so closable ?

[2018-01-19 23:15] revolunet commented on #220
yep, we need some patch to handle that;

[2018-01-20 13:31] Sparksx commented on #219
@revolunet No! You need to fix it in your code

`AnalyticsProvider.setPageEvent('$stateChangeSuccess');` is now deprecated un angular-ui router and need to be replaced in your code

[2018-01-23 11:30] utsavkesharwani opened #221 "Configuring siteSpeedSampleRate parameter"
Need to configure `siteSpeedSampleRate` as per https://stackoverflow.com/questions/28629798/enabling-page-load-samples-for-google-analytics-site-speed

The relevant documentation and information seem to be missing.

[2018-02-26 14:36] ViieeS commented on #195
Fixed after migrating from `bower` to `npm`

Imports now looks like:
[code]

Before was imported from bower directory `vendors`:
`require('./../../vendors/angular-google-analytics/dist/angular-google-analytics.min.js');`

I think it was problem with bower, but because bower is deprecated now I think we can close this task.

[2018-02-26 14:36] #195 closed

[2018-03-01 12:36] suribabu39 opened #222 "Unable to view "trackTimings" events on Google Analytics Dashboard"
Hi, I am new to google analytics. I want to track timings of certain actions, I am able to send the "trackTimings" requests (checked in developer tools network tab). But I am not able to see them on analytics dashboard, I am looking in the Events section. I tried sending events(using "trackEvent") and able to see them on the dashboard. I am not applying any filters and have not added any custom di

[2018-03-02 13:20] feelitloveit commented on #220
Waiting for this too...

[2018-03-05 01:36] justinsa commented on #220
@revolunet Perhaps it is time we stopped having ui-router (or ng-router) specific behaviors in the library and instead offer how to set it up as part of the documentation (it is pretty trivial stuff to setup). ui-router deprecating a feature should not require this library to update its version.

[2018-03-06 14:44] revolunet commented on #220
Hi ! i cant really say whats good anymore as i dont use angular much..... but yes, if deprecated, we should to that 👍

[2018-03-07 09:26] suribabu39 commented on #222
I have found it, please ignore this.
Go to Analytics Dashboard and then Behaviour => Site Speed => User Timings

[2018-03-07 09:26] #222 closed

[2018-03-08 14:06] suribabu39 opened #223 "How to configure "sampleRate" and "siteSpeedSampleRate" for User Timings events ?"
Links:
https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#sampleRate
https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#siteSpeedSampleRate

[2018-03-16 22:01] tcrite commented on #188
is there a setting for changing a custom metric to a currency?

[2018-03-20 00:29] Rasha-Dj commented on #220
I am using the new version of ui-router (1.0.13 to be exact) and library is still operational. @hbdbim have you experienced / are you experiencing issues or you are only afraid you might do so in near future?

[2018-03-21 13:17] yakupad opened #224 "input tracking"
Hello!
I want to watch the input. How can I use this library for this?

![ekran resmi 2018-03-21 15 52 48](https://user-images.githubusercontent.com/12917333/37710844-f7bea194-2d1f-11e8-8f67-861d4eacb7bb.png)

[2018-03-26 05:09] utsavkesharwani commented on #221
@revolunet, @justinsa: This feature will definitely be helpful. A similar issue has been raised [here](https://github.com/revolunet/angular-google-analytics/issues/223).

[2018-04-11 11:47] #166 closed

[2018-05-12 16:40] BriceN commented on #219
@revolunet @Sparksx I agree that this should be fixed in the library, and not with a workaround.

[2018-05-12 17:00] revolunet commented on #219
so someone should issue a pull request please, i dont use angular anymore sorry

@justinsa is now the main contributor

[2018-05-14 03:43] justinsa commented on #219
My opinion is that the library should stop having an opinion on the route provider used and let the implementer handle that decision. We could then provide a Cookbook as part of the Wiki or the README to explain how to configure different route providers for auto-page tracking or this setPageEvent issue. This library should do Google Analytics the best it can and not need updating due to ng-router

[2018-05-21 08:42] leowang199303 commented on #124
@zloyag  hi,Have you solve this problem? i have the same situation。In your solution what is the "uuid4"? i am littel confused. it is so lucky if i get your reply.

[2018-06-01 08:50] lsioctl commented on #220
Hello !

I had a related problem using ui-router 1.0.15. Nothing was sent to GA when changing page. Digging further, ui-router switched from

$stateChangeSuccess
to
$transitions.onSuccess

In the meantime I created a small working module inspired from :

https://dev.to/jordanirabor/using-google-analytics-with-angular-930

[2018-07-26 17:21] megamanhxh commented on #224
Have a look into this:
https://github.com/revolunet/angular-google-analytics#event-tracking

[2018-07-26 18:31] justinsa commented on #197
It sounds like your issue is with JXBrowser and the Google Analytics script directly. It would be better to ask your question on the JXBrowser or Google Analytics forums as someone may have come across your problem there.

[2018-07-26 18:31] #197 closed

[2018-07-26 18:48] justinsa commented on #210
I've closed PR #209 as this is already supported and provided the following comment:

Actually, on further consideration this change is unnecessary as the desired functionality is already available via the "custom" attribute. In the event call you can provide the required fields and they will be appended to the options object sent to GA. e.g.,

[code]

There is no need to modify the library for th

[2018-07-26 18:48] #210 closed

[2018-07-31 11:29] yakupad commented on #224
Thanks @megamanhxh

[2018-07-31 11:29] #224 closed

[2018-08-01 15:57] ChristianArredondo commented on #134
@that1guy What was the configuration error?

[2019-02-12 17:42] lapo-luchini opened #226 "`disableAnalytics` requires an account"
Hi, for the sake of avoiding an `if` around every `Analytics.watch` line we have in our code, I'd like to have a way to disable this module when a UA account is not defined (that's an option that our users will have to use or not).

Unfortunately `disableAnalytics` requires an account or gives a stack trace exception, so I worked it around like this:

[code]

[2019-02-28 13:12] origooo opened #228 "CDN pointing to wrong version?"
I'm using version 1.1.8 while developing, installed through bower.

When I deploy to my staging or production server and use `https://cdnjs.com/libraries/angular-google-analytics/1.1.8` I instead get version 1.1.7 which breaks the functionality. I'm expecting the methods `registerScriptTags()` and `registerTrackers()` to exist but they don't.

EDIT
I realised that if I fetch version 1.1.9 from clo

[2019-03-11 06:17] justinsa commented on #228
Hey @origooo, I think this may have been caused by a misfired release back in 2016. See: https://github.com/revolunet/angular-google-analytics/releases. I had to publish 1.1.9 in order to correctyl publish the 1.1.8 release with all of the correct build files updated and generated. I didn't rev the number in the file since it was the 1.1.8 release code, just correctly released.

Sorry for the conf

[2019-03-11 06:17] #228 closed

[2019-04-06 17:05] justinsa commented on #226
I need to understand what you are encountering a little better. The `disableAnalytics()` config method sets a variable during configuration, that is all, so it is not generating an error on its own.

The reason this requires an account is because this is a feature of GA and something we are exposing during the script injection on the page. This is the code performing this:

[code]

As you can tell

[2019-04-06 21:23] justinsa opened #230 "Deprecate Bower Support"
Bower has been discontinued for support and developers are being told to move to Yarn or Webpack. We should remove our use of Bower and standardize the development and build process on NPM.

[2019-04-11 04:10] justinsa commented on #230
Completed.

[2019-04-11 04:10] #230 closed

[2020-08-11 13:24] avtaniket opened #233 "GA Analytics does not working in iframe"
I have website "https://www.customer-name.our-website.com" which we adds in customers websites ""https://www.customer-website.com"" as iframe so that its easy integration for them.

GA analytics of our site isn't working as cookie are not set, not sure why? we have set cookie settings as "secure"

Note : Cross domain Cookies doesn't works in Mac - Safari, Windows - Chrome and Andriod - chrome only

[2020-10-17 06:50] gerasyana opened #234 "Avg page load time metric is zero"
I  use GA to track page views and and site activity. I see **Avg. Page Load Time** metric is zero for most of pages. Can you tell me why the metric is calculated for specific pages only? Do I need to add other params when setting up account?

<img width="827" alt="Screen Shot 2020-10-16 at 20 44 51" src="https://user-images.githubusercontent.com/15375081/96291258-76861b00-0ff0-11eb-8717-bccad67174

[2020-10-18 15:25] #234 closed, assigned to nobody

[2021-06-30 07:18] jsandeepm commented on #233
Hi

Hi
You can use the below settings. I tried it and its working.

fields: {
                    'cookieFlags': 'SameSite=None; Secure'
  }

![image](https://user-images.githubusercontent.com/9821180/123918424-7f155a80-d9a1-11eb-9317-8a09beec8110.png)

[2021-06-30 07:29] avtaniket commented on #233
Yes right, `https://www.simoahava.com/analytics/cookieflags-field-google-analytics/`

Currently using  `AnalyticsProvider.setCookieConfig({'cookieFlags': 'SameSite=None; Secure'});`

[2021-06-30 07:30] #233 closed, assigned to nobody

[2021-08-31 20:32] georgiaessig opened #235 "Using both Universal Analytics and GA4"
I have an Angular site which uses google analytics (universal analytics) to track page views, etc. The way we add the tracker is by setting the account, e.g.
`AnalyticsProvider.setAccount({'tracker': 'UA-12345-1'})`
We are trying to explore the same metrics we are currently collecting in the new [GA4](https://developers.google.com/analytics/devguides/collection/ga4). We followed the [instructions]

[2021-08-31 23:19] revolunet commented on #235
Hi, no idea sorry